<div id="assignment" class="assignment-content" style="display: none;">
    <% if user_signed_in? %>
            <% if !current_user.friends.exists? %>
                친구를 만들어보세요.
            <% else%>
                <% current_user.friends.each do |friend| %>
                <div class="assignment-content-el">
                    <%= image_tag friend.image.url, :style => "height:40px; width:40px; border-radius:20px;", class: "assignee-image"%>
                    <span class="assignment-content-el-name"><%=friend.username %></span>
                    <% assign = Assignment.find_by(question_id: question.id, assigner_id: current_user.id, assignee_id: friend.id) %>
                    <%if assign.nil? %>
                        <a  class="btn-do-assign" 
                            data-assign-id="-1"
                            data-friend-id="<%=friend.id%>" 
                            data-question-id="<%=question.id%>"
                            style="background-color: #C08BEF; color: white;" >Assign</a>
                    <% else %>
                        <a  class="btn-do-assign" 
                            data-assign-id="<%=assign.id%>"
                            data-friend-id="<%=friend.id%>" 
                            data-question-id="<%=question.id%>">Cancel</a>
                    <% end %>
                </div>
                <% end %>
            <% end %>
    <% end %>
</div>

