<div id="assignment" class="assignment-content" style="display: none;">
    <% if user_signed_in? %>
        <% current_user.friends.each do |friend| %>
                <div>
                    <%=friend.username %>
                    <% assign = Assignment.find_by(question_id: question.id, assigner_id: current_user.id, assignee_id: friend.id) %>
                    <%if assign.nil? %>
                        <a  class="btn-do-assign" 
                            data-assign-id="-1"
                            data-friend-id="<%=friend.id%>" 
                            data-question-id="<%=question.id%>">Assign</a>
                    <% else %>
                        <a  class="btn-do-assign" 
                            data-assign-id="<%=assign.id%>"
                            data-friend-id="<%=friend.id%>" 
                            data-question-id="<%=question.id%>">Cancel</a>
                    <% end %>
                </div>
        <% end %>
    <% end %>
</div>

