<div class="prism-container">
     <% questions.each do |question| %>
        <div class="question-el" align="right">
            <div class="question-content">
            <%= link_to "#{question.content}", question_path(question.id) %>
            </div>
            <div class="question-btn">
                <% if user_signed_in? %> 
                    <a class="btn-write-modal" 
                        data-url='<%=new_answer_path(question.id)%>'>
                        <%= image_tag("icons/write-icon.png", class: "btn-write") %>
                    </a>
                    <a class="btn-assign-modal" 
                        data-url='<%=new_assignment_path(question.id)%>'>
                        <%= image_tag("icons/assign-icon.png", class: "btn-assign") %>
                    </a>
                <% else %>
                    <%= link_to image_tag("icons/write-icon.png", class: "btn-write"), new_user_session_path %>
                    <%= link_to image_tag("icons/assign-icon.png", class: "btn-assign"), new_user_session_path %>
                <% end %>
            </div>
        </div>
    <% end %> 
</div>

