General Feed
<% @questions.each do |question| %>
  <% question.answers.each do |answer| %>
    <div class="prism-box">
      <div class="prism-box__header">
        <%= answer.author.email %>
        <i class="material-icons">more_vert</i>
      </div>
      <div class="prism-box__content">
        <a href="/questions/<%=question.id%>"><%= question.content %></a>
        <div><%= answer.content %></div>
      </div>
      <div class="prism-box__footer"><%= answer.updated_at %></div> <!--이거 처음 쓴 날짠지 업데이트한 날짠지..?-->
    </div>
  <% end %>
<% end %>

<!--더보기는 지금 구현하는 건 아닌 듯-->