<div class = "question"> 
<h1>오늘의 질문</h1>
    <% @questions.each do |question| %>
        <li>
            <%= question.content %>
            <button><%= link_to 'Write', new_answer_path %></button>
            <button class="btn-assign"><%= link_to_if !user_signed_in?, 'Assign', user_session_path %></button>
            <%= render 'assignment'%>
        </li>
    <% end %>
</div>

<%= stylesheet_link_tag "application" %>

