<h1>Question Feed</h1>
<h2><%= @question.content %></h2>
<% if Star.where(user_id: current_user.id, target: @question).empty? %>
  <%= link_to "별표하기", stars_path(target_id: @question.id, target_type: "Question"), method: :post %>
<% else %>
  <%= link_to "별표 취소하기", star_path(@question.id, target_type: "Question"), method: :delete %>
<% end %>
<% @question.answers.each do |answer| %>
  <div class="prism-box">
    <div class="prism-box__header">
      <%= answer.author.username %>
      <i class="material-icons">more_vert</i>
    </div>
    <div class="prism-box__content">
      <%= answer.question.content %> <br><br>
      <%= answer.content %>
    </div>
    <div class="prism-box__footer">
      <%= answer.updated_at.strftime("%m월 %d일") %>
    </div>
  </div>
<% end %>

<!--한 사람은 질문 하나에 답변 여러 개 할 수 있는 건가..?!
일단은 하나만 있다고 가정하고 만듦-->