<h1>Question Feed</h1>
<h2><%= @question.content %></h2>
<% @question.answers.each do |answer| %>
  <div class="prism-box">
    <div class="prism-box__header">
      <%= answer.author.username %>
      <i class="material-icons">more_vert</i>
    </div>
    <div class="prism-box__content">
      <div><%= answer.question.content %></div>
      <div><%= answer.content %></div>
    </div>
    <div class="prism-box__footer">
      <%= answer.updated_at.strftime("%m월 %d일") %>
    </div>
  </div>
<% end %>

<!--한 사람은 질문 하나에 답변 여러 개 할 수 있는 건가..?!
일단은 하나만 있다고 가정하고 만듦-->