<%= render 'questions/tabs', question: @question %>

<div class="inner-container">
    <div class = "prism-box">
        <div class = "prism-box_question">
            <br>
            <div>
                <%= @question.content %>
                <%= render 'drawers/default', target: @question %>
            </div>    
            <div classs = "question-author">    
                <% if @question.author.has_role? :newuser %>
                    <br><br>
                    Question made by 
                    <%= render partial: "./user_profile_small", locals: {user: @question.author} %>
                <% end %>
            </div>
        </div>
        <br>
    </div>

    <%= render 'feeds/friends_index', feeds: @answers %>
</div>

<!--더보기는 지금 구현하는 건 아닌 듯-->
<%= render 'comments/friends_script' %>
<%= render 'drawers/script' %>
<%= render 'layouts/timestamp' %>
<%= render 'likes/script' %>
<%= render './delete_script' %>
<script>
  $(document).ready(function() {
    like_ajax($(".btn-feed-like"))
    like_ajax($(".btn-comment-like"))
    delete_ajax($(".btn-feed-delete"))
    delete_ajax($(".btn-comment-delete"))
  })
</script>