
<div class="inner-container">
    <div class="question-btn">
        <a class="btn-write-modal feed" 
            data-url='<%=new_answer_path(@question.id)%>'>
            <%= image_tag("icons/write-icon.png", class: "btn-write") %>
        </a>
        <a class="btn-assign-modal" 
            data-url='<%=new_assignment_path(@question.id)%>'>
            <%= image_tag("icons/assign-icon.png", class: "btn-assign") %>
        </a>
    </div> 
    <%= render 'questions/tabs', question: @question %>

    <div class = "prism-box__question">
        <div class = "question-content">
            <%= @question.content %> 
        </div>
        <div class="question-tags">
            <% @question.tags.each do |tag| %>
                <%= form_tag(search_admin_question_path, method: :get, class: "more") do %>
                    <%= hidden_field_tag :query, tag.content %>
                    <%= button_tag tag.content, class: "question-tag" %>
                <% end %>
            <% end %>
        </div>
        <%= render 'drawers/default', target: @question %> 
    </div>

    <div id='infinite-feeds'>
      <%= render partial: 'feeds/friends_index', locals: {feeds: @feeds} %>
    </div>
</div>

<script>
  $('body').trigger('click');
</script> 
