
<div class="inner-container">
    <div class="question-btn">
        <%= link_to image_tag("icons/write-icon.png", class: "btn-write"), new_answer_path(@question.id) %>
        <% if user_signed_in? %> 
            <%= image_tag "icons/assign-icon.png", class: "btn-assign"%>
            <%= render 'assignments/default', question: @question %>
        <% else %>
            <%= link_to image_tag("icons/assign-icon.png", class: "btn-assign"), new_user_session_path %>
        <% end %>
    </div>
    <%= render 'questions/tabs', question: @question %>

    <div class = "prism-box">
        <div class = "prism-box_question">
            <br>
            <div>
                <%= @question.content %>
                <%= render 'drawers/default', target: @question %>
            </div>    
            <!--<div classs = "question-author">    
                <% if @question.author.has_role? :newuser %>
                    <br><br>
                    Question made by 
                    <%= render partial: "./user_profile_small", locals: {user: @question.author} %>
                <% end %>
            </div>--> <!-- custom question not yet implemented -->
        </div>
        <br>
    </div>

    <%= render 'feeds/friends_index', feeds: @answers %>
</div>

<!--더보기는 지금 구현하는 건 아닌 듯-->
<%= render 'comments/friends_script' %>
<%= render 'drawers/script' %>
<%= render 'layouts/timestamp' %>
<%= render 'likes/script' %>
<%= render './delete_script' %>
<%= render "assignments/script" %>
<script>
  $(document).ready(function() {
    like_ajax($(".btn-feed-like"))
    like_ajax($(".btn-comment-like"))
    delete_ajax($(".btn-feed-delete"))
    delete_ajax($(".btn-comment-delete"))
  })
</script>