
<div class="inner-container">
    <div class="question-btn">
        <%= link_to image_tag("icons/write-icon.png", class: "btn-write"), new_answer_path(@question.id) %>
        <% if user_signed_in? %> 
            <%= image_tag "icons/assign-icon.png", class: "btn-assign"%>
            <%= render 'assignments/default', question: @question %>
        <% else %>
            <%= link_to image_tag("icons/assign-icon.png", class: "btn-assign"), new_user_session_path %>
        <% end %>
    </div>
    <%= render 'questions/tabs', question: @question %>
    
    <div class = "prism-box">
        <div class = "prism-box_question">
            <br>
            <div>
                <%= @question.content %>
                <%= render 'drawers/default', target: @question %>
            </div>    
        </div>
        <br>
    </div> 

    <%= render 'feeds/general_index', feeds: @answers %>
</div>

