
<div class="inner-container">
    <div class="question-btn">
        <a class="btn-write-modal feed" 
            data-url='<%=new_answer_path(@question.id)%>'>
            <%= image_tag("icons/write-icon.png", class: "btn-write") %>
        </a>
        <%= image_tag "icons/assign-icon.png", class: "btn-assign"%>
        <%= render 'assignments/default', question: @question %>
    </div>
    <%= render 'questions/tabs', question: @question %>
    
    <div class = "prism-box__question">
        <br>
        <div class = "question-content">
            <%= @question.content %>
            <%= render 'drawers/default', target: @question %>
        </div>
        <br>    
    </div>

    <%= render 'feeds/general_index', feeds: @answers %>
</div>

