<div class = "question"> 
<h1>오늘의 질문</h1>
    <br>
    <% @questions.each do |question| %>
        <li class="question-el">
            <%= link_to "#{question.content}", "questions/#{question.id}" %>
            <button><%= link_to 'Write', new_answer_path %></button>
            <button class="btn-assign"><%= link_to_if !user_signed_in?, 'Assign', user_session_path %></button>
            <% if user_signed_in? %>
                <%= render 'assignment', question: question %>
            <% end %>
        </li>
    <% end %>

    <br>
    <br>
    <br>
    <!--<% if flash[:success] %>
        <div class="notice"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="notice"><%= flash[:error] %></div>
    <% end %>-->
    <p class="message"></p>
</div>

<%= stylesheet_link_tag "application" %>



