<div class = "question"> 
<h1>오늘의 질문</h1>
    <% @questions.each do |question| %>
        <li>
            <%= link_to "#{question.content}", question_feed_path(question.id) %>
            <button><%= link_to 'Write', new_answer_path %></button>
            <button class="btn-assign"><%= link_to_if !user_signed_in?, 'Assign', user_session_path %></button>
            <% if user_signed_in? %>
                <%= render 'assignment', question: question %>
            <% end %>
        </li>
    <% end %>

    <br>
    <br>
    <br>
    <% if flash[:success] %>
        <div class="notice"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="notice"><%= flash[:error] %></div>
    <% end %>
</div>

<%= stylesheet_link_tag "application" %>

<script>
    $(document).ready(function() {
        $(".btn-assign").on('click', function() {
            if($(this).siblings(".assignment-content").is(':visible')){
                $(".assignment-content").hide();
            }
            else {
                $(".assignment-content").hide();
                $(this).siblings(".assignment-content").show();
            }
        });

        $(".btn-do-assign").on('click', function() {

            var thisButton = $(this);

            if($(this).text()=='Assign') {
                console.log("try assign");
                const friendId = $(this).data("friend-id");
                const questionId = $(this).data("question-id");

                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: '/assignments/' + friendId + '/' + questionId,
                    success: function(data) {
                        if(data.assign_id != "-1") {
                            console.log("success assign!");
                            thisButton.text("Cancel");
                            thisButton.data("assign-id", data.assign_id);
                        }
                        else {
                            console.log("이미 답했음");
                        }
                    }
                })
            } else {
                console.log("try cancel");
                const assignId = $(this).data("assign-id");

                $.ajax({
                    type: "DELETE",
                    dataType: "JSON",
                    url: '/assignments/' + assignId,
                    success: function(data) {
                        console.log("success canceling!");
                        thisButton.text("Assign");
                    }
                })
            }

        })      
    });
</script>

