<!-- 질문을 추가하기 위한 (어드민들만을 위한) 버튼입니다. 지우지 말아주세요. -->
<% if !current_user.nil? && current_user.id == 1 %>
    <%= link_to "Import All Questions", import_all_questions_path %><br>
    <%= link_to "Import New Questions", import_new_questions_path %><br><br>
<% end %>

<div class = "today-question-box"> 
<h1 class = "today-question-title">오늘의 질문</h1>
    <br>
    <% @questions.each do |question| %>
        <div class="question-el" align="right">
            <div class="question-content">
            <%= link_to "#{question.content}", "questions/#{question.id}" %>
            </div>
            <div class="question-btn">
                <%= image_tag "icons/write-icon.png", class: "btn-write", onclick:"window.location='/answers/new/question/#{question.id}'"%>
                <% if user_signed_in? %>
                    <%= image_tag "icons/assign-icon.png", class: "btn-assign"%>
                    <%= render 'assignment', question: question %>
                <% else %>
                    <%= image_tag "icons/assign-icon.png", class: "btn-assign", onclick:"window.location='/users/sign_in'"%>
                <% end %>
            </div>
        </div>
    <% end %>

    <br>
    <br>
    <br>
    <!--<% if flash[:success] %>
        <div class="notice"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="notice"><%= flash[:error] %></div>
    <% end %>-->
    <div align="center">
        <p class="message" style="color: #C08BEF;"></p>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".btn-assign").on('click', function() {
        if($(this).siblings(".assignment-content").is(':visible')){
            $(".assignment-content").hide();
        }
        else {
            $(".assignment-content").hide();
            $(this).siblings(".assignment-content").show();
        }
    });

    $("html").on('click', function(event) {
        var target = $(event.target)
        if(!target.hasClass("btn-assign") &&
         !target.hasClass("assignment-content") &&
         !target.hasClass("btn-do-assign") ) {
              $(".assignment-content").hide();
        }
    }); 

    $(".btn-do-assign").on('click', function() {

        var thisButton = $(this);

        if($(this).text()=='Assign') {
            console.log("try assign");
            const friendId = $(this).data("friend-id");
            const questionId = $(this).data("question-id");

            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/assignments/' + friendId + '/' + questionId,
                success: function(data) {
                    if(data.assign_id != "-1") {
                        console.log("success assign!");
                        thisButton.text("Cancel");
                        thisButton.data("assign-id", data.assign_id);
                        thisButton.css("background-color", "white");
                        thisButton.css("color", "black");
                        $(".message").text(data.assigned_user+ "님을 assign하셨습니다.");
                        $(".message").fadeIn(700).fadeOut(700);
                    }
                    else {
                        console.log("이미 답했음");
                        $(".message").text(data.assigned_user+ "님은 이미 질문에 답하셨습니다.");
                        $(".message").fadeIn(700).fadeOut(700);
                    }
                }
            })
        } else {
            console.log("try cancel?");
            const friendId = $(this).data("friend-id");
            const questionId = $(this).data("question-id");
            console.log(friendId);
            console.log(questionId);

            $.ajax({
                type: "DELETE",
                dataType: "JSON",
                url: '/assignments/' + friendId + '/' + questionId,
                success: function(data) {
                    console.log("success canceling!");
                    thisButton.text("Assign");
                    thisButton.css("background-color", "#C08BEF");
                    thisButton.css("color", "white");
                    $(".message").text(data.assigned_user+ "님을 assign 취소하셨습니다.");
                    $(".message").fadeIn(700).fadeOut(700);
                }
            })
        }

    }) 
    })
</script>



