<div id = "new-custom-question-form">
    <%= form_tag('/custom_questions') do %>
        <%= text_area_tag :content, nil, required: true, class: "new-answer-field",  autofocus: false, placeholder: "질문을 작성해보세요", "data-enable-grammarly": "false" %>
        <!-- FIXME: answer쓰는 form에도 이거 넣어주기 -->

        <!-- FIXME: checkbox가 /posts/form과 왜때무네 연동되는 것? -->
        <div class = "channels custom-question">
            <span>공개범위</span>
            <%= link_to image_tag("icons/setting-default-icon.png", class: "channel-setting-icon"), friends_path()%>
            <!-- TODO: 채널이 많아질 경우 style -->
        
            <% current_user.channels.each do |channel| %>
                <%= check_box_tag "c[]", channel.id, false, id: channel.id.to_s + "custom_question" %>
                <%= label_tag "#{channel.id}custom_question", channel.name %>
            <% end %>
            
        </div>
        <%= button_tag "저장", class: "answer-button"%>
    <% end %>
</div>


