<div id = "new-custom-question-form">
    <%= form_for custom_question do |f| %>
        <%= f.hidden_field :author_id, :value => current_user.id %>
        <%= f.text_area :content, required: true, class: "new-answer-field", autofocus: true, placeholder: "질문을 작성해보세요", "data-enable-grammarly": "false" %>
        <!-- FIXME: answer쓰는 form에도 이거 넣어주기 -->
        <%= f.text_area :tag_string %>
        <!-- FIXME: checkbox가 /posts/form과 왜때무네 연동되는 것? -->
        <div class = "channels channels-custom-question">
            <span  class="channels-dropdown hover-orange">공개그룹</span>
            <%= link_to image_tag("icons/setting-default-icon.png", class: "channel-setting-icon"), friends_path()%>
            <!-- TODO: 채널이 많아질 경우 style -->
            <div class="channels-dropdown-content">
                <span class="btn-select-all-channels">전체선택</span>
                <% label_id = "custom_question" %>
                <% current_user.channels.each do |channel| %>
                    <%= check_box_tag "c[]", channel.id, 
                        !(channel.name=="익명피드" || channel.name=="나"),
                        id: channel.id.to_s + label_id, class: "channel-el" %>
                    <%= label_tag channel.id.to_s + label_id, channel.name, class: "channel-el" %>
                <% end %>
            </div>
        </div>
        <%= f.submit "저장", class: "answer-button"%>
    <% end %>
</div>