<div id = "new-custom-question-form">
    <%= form_for custom_question do |f| %>
        <%= f.hidden_field :author_id, :value => current_user.id %>
        <%= f.text_area :content, required: true, class: "new-answer-field", autofocus: true, placeholder: "질문을 작성해보세요", "data-enable-grammarly": "false" %>
        <!-- FIXME: answer쓰는 form에도 이거 넣어주기 -->
        <%# f.text_area :tag_string %>
        <%= f.hidden_field :tag_string, :value => "" %>
        <div id="tags">
            <span id="tag-title">태그</span>
            <input id="tags_input" type="text" value="" />
        </div>
        <div id="tags-info-alert">태그를 쉼표로 구분하여 입력해주세요.</div>
        <%= render partial: "channels/select_channels", locals: {article: custom_question, reposting: false}%>
        <%= f.submit "저장", class: "answer-button"%>
    <% end %>
</div>