<div class = "question-box"> 
    <p class = "question">
        <%= custom_question.content %>
        <!-- 수정하고 있는 경우 : 수정당하는 애 / 새로 리포스팅하고 있는 경우: 조상  -->
    </p>
    <% if custom_question.author == current_user %>
        <%= form_for custom_question, html: {class: 'new_repost'} do |f| %> <!-- update로 -->
            <%= f.text_area :repost_message, required: false, class: "new-answer-field", placeholder: "공유 메시지", "data-enable-grammarly": "false", autocomplete: "off" %>
            <br><br>

            <div class = "channels channels-answer">
                <span class="channels-dropdown hover-orange">공개그룹</span>
                <%= link_to image_tag("icons/setting-default-icon.png", class: "channel-setting-icon"), friends_path()%>
                <div class="channels-dropdown-content">
                    <span class="btn-select-all-channels">전체선택</span>
                    <% label_id = "custom_question_edit" %>
                    <% current_user.channels.each do |channel| %>
                        <%= check_box_tag "c[]", channel.id, 
                            custom_question.channels.count() > 0 ? custom_question.channels.include?(channel) : !(channel.name=="익명피드" || channel.name=="나"),
                            id: channel.id.to_s + label_id, class: "channel-el" %>
                        <%= label_tag channel.id.to_s + label_id, channel.name, class: "channel-el" %>
                    <% end %>
                </div>
            </div>

            <%= f.submit "저장", class: "answer-button"%>
        <% end %>

    <% else %>
        <%= form_tag(custom_question_repost_form_path(custom_question.id), class: 'new_repost') do %> <!-- repost_create로 -->
            <%= text_area_tag :repost_message, "", required: false, class: "new-answer-field", placeholder: "공유 메시지", "data-enable-grammarly": "false", autocomplete: "off" %>
            <% ancestor_id = custom_question.ancestor_id == nil ? custom_question.id : custom_question.ancestor_id %>
            <%= hidden_field_tag "ancestor_id", ancestor_id %>
            <br><br>
            <div class = "channels channels-answer">
                <span class="channels-dropdown hover-orange">공개그룹</span>
                <%= link_to image_tag("icons/setting-default-icon.png", class: "channel-setting-icon"), friends_path()%>
                <div class="channels-dropdown-content">
                    <span class="btn-select-all-channels">전체선택</span>
                    <% label_id = "custom_question_repost" %>
                    <% current_user.channels.each do |channel| %>
                        <%= check_box_tag "c[]", channel.id, 
                            !(channel.name=="익명피드" || channel.name=="나"),
                            id: channel.id.to_s + label_id, class: "channel-el" %>
                        <%= label_tag channel.id.to_s + label_id, channel.name, class: "channel-el" %>
                    <% end %>
                </div>
            </div>
            <%= button_tag "저장", class: "answer-button"%>
        <% end %>
    <% end %>
</div>
