<div class = "question-box">
    <p class = "question">
        <%= @custom_question.content %>
    </p>
    <%= form_tag(custom_question_repost_form_path(@custom_question.id),{class: 'new_repost'}) do %>
        <%= text_field_tag :repost_message, nil, required: false, class: "new-answer-field", placeholder: "공유 메세지", "data-enable-grammarly": "false", autocomplete: "off" %>
        <% ancestor_id = @custom_question.ancestor_id == nil ? @custom_question.id : @custom_question.ancestor_id %>
        <%= hidden_field_tag "id", ancestor_id %>
        <br><br>

        <div class = "channels channels-answer">
            <span class="channels-dropdown hover-orange">공개그룹</span>
            <%= link_to image_tag("icons/setting-default-icon.png", class: "channel-setting-icon"), friends_path()%>
            <div class="channels-dropdown-content">
                <% current_user.channels.each do |channel| %>
                    <%= check_box_tag "c[]", channel.id, @custom_question.channels.include?(channel), id: channel.id.to_s, class: "channel-el"%>
                    <%= label_tag "#{channel.id}", channel.name, class: "channel-el" %>
                <% end %>
            </div>
        </div>

        <%= button_tag "저장", class: "answer-button"%>
    <% end %>
</div>
