<% @user = @custom_question.author %>
<% custom_question = @custom_question %>
<% anonymous = @anonymous%>
<div class="inner-container">
<div class="prism-box">

    <div class="prism-box__header">
        <% if anonymous %>
            <%= render partial: "./user_profile_general", locals: {user_id: custom_question.author_id, feed_id: custom_question.id} %>
        <%else %>
            <%= render partial: "./user_profile", locals: {user: custom_question.author} %>
            <% if current_user.id == custom_question.author.id %>
                <%= render 'feeds/delete_or_edit', feed: custom_question %>
            <% end %>
        <% end %>
        <br/>

    </div> 
    <div class="prism-box__content">
        <br>
        <div class = "prism-box-custom-question">
            <div class = "question-content"><%= custom_question.content %></div>
            <div class="question-tags">
                <% custom_question.tags.each do |tag| %>
                    <%= form_tag(search_custom_question_path, method: :get, class: "more") do %>
                        <%= hidden_field_tag :query, tag.content %>
                        <%= button_tag tag.content, class: "question-tag" %>
                    <% end %>
                <% end %>
            </div>
            <div class = "reposts">
                <%= render 'custom_questions/repost', custom_question: custom_question %>
            </div>
        </div>
        <div class = "date time"><%= time_tag custom_question.created_at, class: "timeago" %></div>
        <br>
    </div>
    <div class="prism-box__footer" >  
        <% if current_user.id == custom_question.author.id %>
            <%= render 'feeds/my_feed_footer', target: custom_question %>
        <% else %>
            <%= render 'feeds/feed_footer', target: custom_question %>
        <% end %>
        <br>
    </div>
    <% if anonymous %>
        <%= render 'comments/general_form', feed: custom_question %>
    <% else %>
        <%= render 'comments/friends_form', feed: custom_question %>
    <% end %>
</div>