
<div class="inner-container">
    <% if user_signed_in? && (current_user.has_role? :admin) %>
        <%= link_to '공지 관리', announcement_admin_index_path %>
    <% end %>

    <% @published_announcements.each do |a| %>
        <div class="prism-box">
            <div class="prism-box__content"><br>
                <div class="announcement-title"><%= a.title %></div>
                <div class="answer autolink"><p><%= auto_link(a.content) %></p></div><br><br>
                <div class = "date time"><%= time_tag a.published_at %></div>
            </div>
            <%= render 'comments/general_form', user: current_user, feed: a %>
        </div>
    <% end %> 
</div>

<script> 
    $('body').trigger('click'); 
</script>