<div class="inner-container">
<%= render partial: "./user_answers_layout", locals: {user: @user} %>
    <% if !@user.friends.include? current_user and @user.id != current_user.id %>
        <%= @user.username %>님과 친구가 되어보세요.
    <% else %>
    <% @answers.reverse_each do |answer| %>
        <div class="prism-box">
            <div class="prism-box__header">
                <%= render partial: "./user_profile", locals: {user: answer.author} %><br/>
            </div>
            <div class="prism-box__content">
                <br>
                <a href="/questions/<%=answer.question.id%>/friend" class="question"><%= answer.question.content %></a> <br><br>
                <div class="answer"><%= answer.content %></div>
                <br>
                <div class = "date"><%= time_tag answer.updated_at, class: "timeago" %></div>
                <br>
            </div>
            <div class="prism-box__footer" style="padding-bottom: 10px;">
                <%= render 'authorized_answer', a: answer %>
                <%= render 'like', a: answer, target_type: "Answer", like_btn_class: "btn-answer-like" %>
                <%= render 'drawer', a: answer, target_type: "Answer" %>
                <br>
            </div>
            <%= render 'comment_form', user: @user, a: answer %>
        </div>
        <% end %>
    <% end %>
</div>
<%= render 'comment_script' %>
<%= render 'drawer_script' %>
<%= render 'like_script' %>
<%= render 'delete_script' %>
<script>
  $(document).ready(function() {
    like_ajax($(".btn-answer-like"))
    like_ajax($(".btn-comment-like"))
    delete_ajax($(".btn-answer-delete"))
    delete_ajax($(".btn-comment-delete"))
  })
</script>