<div class = "user-header" >
    <div id = "profile" >
        <div id = "profile__image"><%= image_tag(@user.image.url) %></div>
        <div id = "profile__content-div">
            <div id = "username"><%= @user.username %></div>
            <div id = "user-message">상태메시지</div>
            <div id = "profile__settings">
                <% if current_user.id == user.id %>
                    <div id ="profile__info-setting">
                        <%= link_to "프로필 수정 / 비밀번호 변경", edit_user_profile_path(user.id), id: "profile__info-setting-btn" %>
                    </div>
                <% end %>
                <div id = "profile__friends-setting">
                    <% if current_user.id == user.id %>
                        <%= link_to "친구관리", friends_path(), id: "profile__friends-setting-btn" %>
                    <!-- 이 부분 나중에 친구 리스트로 옮기고 싶다 -->
                    <% else %>
                        <% if !user.friends.include? current_user %>
                            <%# view에서 record에 접근하는 게 정상인가.. 이거 어떻게 .recieved_requests이런거 이용해서 안될까! %>
                            <% if FriendRequest.where(requester_id: user.id, requestee_id: current_user.id).exists? %>
                                <%= link_to "친구수락", add_friend_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                            <% elsif FriendRequest.where(requester_id: current_user.id, requestee_id: user.id).exists? %>
                                <%= link_to "친구요청 취소", friend_request_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                            <% else %>
                                <%= link_to "친구요청", friend_request_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                            <% end %>
                        <% else %>
                            <%= link_to "친구 끊기", add_friend_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="user-header__tab">
        <%= active_link_to "게시물", profile_path(user.id), :active => :exclusive %>
        <% if current_user.id == user.id %>
            <%# active_link_to "형광펜", user_highlights_path(user.id) %>
            <%= active_link_to "서랍장", profile_drawers_path(user.id) %>
        <% end %>
    </div>
</div>