<div class = "user-header" >
    <div id = "profile" >
        <% if current_user.id != user.id %>
            <div id = "profile__image"><%= image_tag(@user.image.url) %></div>
        <% else %>
            <%= form_for @user, url: edit_user_profile_url(@user.username) do |u| %>
                <% u.hidden_field :id, :value => current_user.id %>
                <div class="image-upload">
                    <div class="image-container">
                        <%= image_tag current_user.image.url, class: "edit-profile-img", id: "edit-profile-img" %>
                        <%= u.file_field :image, id: "file-input", accept: 'image/png,image/jpeg,image/jpg', "data-url" => image_upload_path(current_user.id) %>
                        <label for="file-input">
                            <span class="camera-icon">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-camera fa-3x" aria-hidden="true"></i><br>사진 올리기</span>
                        </label>
                    </div>
                </div>                
            <% end %>
        <% end %>

        <div id = "profile__content-div">
            <div id = "profile__username-setting-div">
                <div id = "username"><%= @user.username %></div>
                <% if current_user.id == user.id %>
                    <div id ="profile__setting">
                        <%= link_to image_tag("icons/setting-default-icon.png", id: "profile__setting-btn"), edit_user_profile_path(user.username) %>
                    </div>
                <% end %>
            </div>
            <div id = "user-message">
                <% if @user.profile && @user.profile != "" %>
                    <%= @user.profile %>
                <% elsif current_user.id == user.id %>
                    설정 아이콘을 눌러 한 줄 소개를 작성해보세요.
                <% end %>
            </div>
            <div id = "profile__friends-setting">
                <% if current_user.id == user.id %>
                    <%= link_to "친구 관리", friends_path(), id: "profile__friends-setting-btn" %>
                <% else %>
                    <% if !user.friends.include? current_user %>
                        <%# view에서 record에 접근하는 게 정상인가.. 이거 어떻게 .recieved_requests이런거 이용해서 안될까! %>
                        <% if FriendRequest.where(requester_id: user.id, requestee_id: current_user.id).exists? %>
                            <%= link_to "친구수락", add_friend_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                        <% elsif FriendRequest.where(requester_id: current_user.id, requestee_id: user.id).exists? %>
                            <% fr_id = FriendRequest.where(requester_id: current_user.id, requestee_id: user.id).first.id %>
                            <%= link_to "친구요청 취소", friend_request_path(fr_id), method: :delete, id: "profile__friends-setting-btn" %>
                        <% else %>
                            <%= link_to "친구요청", friend_request_create_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                        <% end %>
                    <% else %>
                        <%= link_to "친구 끊기", add_friend_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </>
    
    <div class="user-header__tab">
        <div class = "user-header__tab-el-left">
            <%= active_link_to "게시물", profile_path(user.username), :active => :exclusive %>
        </div>
        <div class = "user-header__tab-el-right">
            <% if current_user.id == user.id %>
                <%# active_link_to "형광펜", user_highlights_path(user.id) %>
                <%= active_link_to "서랍장", profile_drawers_path(user.username) %>
            <% end %>
        </div>
    </div>
</div>