<div class="inner-container">
    <%= render partial: "profiles/layout", locals: {user: @user} %>
    <% @drawers.reverse_each do |d| %>
        <% if d.target_type == "Question" %>
            <div class = "prism-box"> 
                <div class = "prism-box_question">
                    <br>
                    <div>
                        <%= link_to d.target.content, question_path(d.target.id), class: "question-content" %>
                        <%= link_to image_tag("icons/drawer-on-icon", class: "btn-drawer"), drawer_path(d.target.id, target_type: "Question"), method: :delete %>
                    </div> 
                    <!--<div classs = "question-author">    
                        <% if d.target.author.has_role? :newuser %>
                            <br><br>
                            Question made by 
                            <%= render partial: "./user_profile_small", locals: {user: d.target.author} %>
                        <% end %>
                    </div> --> <!-- custom question not yet implemented -->
                </div>
                <br>
            </div>
        <% else %>
            <div class = "prism-box">
                <div class = "prism-box__header">
                    <% if current_user == d.target.author or current_user.friends.include? d.target.author %>
                        <%= render partial: "./user_profile", locals: {user: d.target.author} %><br/>
                    <% else %>
                        <%= render partial: "./user_profile_general", locals: {user_id: d.target.author_id, feed_id: d.target.id }%>
                    <% end %>
                </div>
                <div class = "prism-box__content">
                    <br> 
                    <% if d.target.is_a? Answer %>
                        <%= link_to d.target.question.content, question_path(d.target.question.id), class: "question" %>
                    <% end %>
                    <div class = "answer">
                        <%= d.target.content %>
                    </div>
                    <br>
                    <div class = "date time"><%= time_tag d.target.created_at, class: "timeago" %></div>
                </div>
                <div class = "prism-box__footer" style="padding-top: 0px; padding-bottom: 25px;">
                    <% if current_user.id == d.target.author_id %>
                        <span class="btn-feed-delete hover-orange hover-pointer" data-url="<%=answer_path(d.target.id)%>">삭제</span>
                    <% end %>                
                    <span class="btn-feed-delete hover-orange hover-pointer"></span>
                    <%= render 'drawers/default', target: d.target %> 
                </div> 
            </div>
        <% end %>
    <% end %>
</div>

<%= render 'layouts/timestamp' %>
<%= render 'drawers/script' %>