<div class="inner-container">
<%= render partial: "profiles/layout", locals: {user: @user} %>
    <% if !@user.friends.include? current_user and @user.id != current_user.id %>
        <%= @user.username %>님과 친구가 되어보세요.
    <% else %>
    <% @feeds.each do |feed| %> 
        <div class="prism-box <%=feed.id%>">
            <div class="prism-box__header">
                <%= render partial: "./user_profile", locals: {user: feed.author} %>
                <% if current_user.id == feed.author.id %>
                    <%= render 'feeds/delete_or_edit', feed: feed %>
                <% end %>
            </div>
            <div class="prism-box__content">
                <br>
                <% if feed.is_a? Answer %>
                    <%= link_to feed.question.content, question_path(feed.question.id), class: "question" %><br><br>
                <% end %>
                <% if feed.is_a? CustomQuestion %>
                    <% if feed.reposted %>reposted<% end %>
                    질문: <br>
                <% end %>
                <div class="answer"><%= feed.content %></div>
                <br>
                <div class = "date time"><%= time_tag feed.created_at, class: "timeago" %></div>
                <br>
            </div>
            <div class="prism-box__footer" style="padding-bottom: 10px;">
                <%#= render 'feeds/my_feed', feed: feed %>
                <%= render 'likes/default', target: feed, like_btn_class: "btn-feed-like" %>
                <%= render 'drawers/default', target: feed %>
                <% if (feed.is_a? CustomQuestion) && (feed.author != current_user) %>
                    <%= render 'custom_questions/repost', parent_id: feed.id %>
                <% end %>
                <br>
            </div>
            <div class="prism-box__comment">
                <%= render 'comments/friends_form', user: @user, feed: feed %>
            </div>
        </div>
        <% end %>
    <% end %>
</div>

<script>
  $(".friend-comments-nav").on('click', function() {
    $(this).siblings(".anonymous-comments-nav").removeClass("selected")
    $(this).addClass("selected")
    $(this).siblings(".anonymous-comments-div").hide()
    $(this).siblings(".friend-comments-div").show()
  })

  $(".anonymous-comments-nav").on('click', function() {
    $(this).siblings(".friend-comments-nav").removeClass("selected")
    $(this).addClass("selected")
    $(this).siblings(".anonymous-comments-div").show()
    $(this).siblings(".friend-comments-div").hide()
  })
</script>
