<%= image_tag "icons/read-more-icon.png", class:"btn-read-more hover-pointer"%>
<span class = "edit-or-delete" style="display: none;">
    <% if feed.is_a? Answer %>
        <div class="edit-or-delete-el feed-edit answer-edit hover-pointer" data-url='<%=edit_answer_path(feed.id)%>'>수정</div>
        <div class="edit-or-delete-el btn-feed-delete hover-pointer" data-url="<%=answer_path(feed.id)%>">삭제</div>
    <% elsif feed.is_a? Post %>
        <div class="edit-or-delete-el feed-edit post-edit hover-pointer" data-url='<%=edit_post_path(feed.id)%>'>수정</div>
        <div class="edit-or-delete-el btn-feed-delete hover-pointer" data-url="<%=post_path(feed.id)%>">삭제</div>
    <% else %>
        <% if feed.ancestor_id == nil && current_user.id == feed.author.id %>
            <div class="edit-or-delete-el btn-feed-delete hover-pointer" data-url="<%=custom_question_path(feed.id)%>">삭제</div>
        <% else %>
            <div class="edit-or-delete-el feed-edit post-edit hover-pointer" data-url='<%=custom_question_repost_edit_path(feed.id)%>'>수정</div>
            <div class="edit-or-delete-el btn-feed-delete hover-pointer" data-url="<%=custom_question_path(feed.id)%>">삭제</div>
        <% end %>
    <% end %>
</span>