<% feeds.each do |feed| %>
    <!-- custom question feed -->
    <% if feed.is_a? CustomQuestion %>
        <div class="prism-box <%=feed.id%>">
            <div class="prism-box__header">
                <%= render partial: "./user_profile_general", locals: {user_id: feed.author_id, feed_id: feed.id} %>
            </div>
            <div class = "prism-box__content">
                <div class = "prism-box-custom-question">
                    <span class = "question-content"><%= feed.content %></span>
                    <% if feed.author != current_user %>
                        <% ancestor_id = feed.ancestor_id == nil ? feed.id : feed.ancestor_id %>
                        <%= render 'custom_questions/repost', ancestor_id: ancestor_id %>
                    <% end %>
                </div>
                <% if feed.ancestor_id != nil %>
                    <div class = "repost-message">
                        <% if feed.repost_message? %>
                            <%= feed.repost_message %>
                        <% end %>
                    </div>
                    <br>
                <% end %> 
                <div class = "date time"><%= time_tag feed.created_at, class: "timeago" %></div>
            </div>
            <div class="prism-box__footer">
                <% if current_user.id == feed.author.id %>
                    <%= render 'feeds/my_feed_footer', target: feed %>
                <% else %>
                    <%= render 'feeds/feed_footer', target: feed %>
                <% end %>
            </div>
            <%= render 'comments/general_form', user: feed.author, feed: feed %>
        </div>

     <!-- posting or Answer -->
     <% else %>
        <div class="prism-box <%=feed.id%>">
            <div class="prism-box__header">
                <%= render partial: "./user_profile", locals: {user: feed.author} %>
                <% if current_user.id == feed.author.id %>
                    <%= render 'feeds/delete_or_edit', feed: feed %>
                <% end %>
            </div>
            <div class = "prism-box__content">
                <% if feed.is_a? Answer %>
                    <div class = "prism-box-question">
                        <%= link_to feed.question.content, question_path(feed.question.id), class: "question"%>
                    </div>
                <% else %>
                    <br>
                <% end %>
                <div class="answer"><%= feed.content %></div><br>
                <div class = "date time"><%= time_tag feed.created_at, class: "timeago" %></div>
            </div>
            <div class="prism-box__footer">
                <% if current_user.id == feed.author.id %>
                    <%= render 'feeds/my_feed_footer', target: feed %>
                <% else %>
                    <%= render 'feeds/feed_footer', target: feed %>
                <% end %>
            </div>
            <%= render 'comments/general_form', user: feed.author, feed: feed %>
        </div>
    <% end %>   
<% end %>