<% if current_user.id == feed.author.id %>
    <span>좋아요 <span class="show-likes"><%= Like.where(target: feed).count() %></span>개 </span>
    <% if feed.is_a? Answer %>
        <%# link_to "수정", edit_answer_path(feed.id), class: "feed-edit answer-edit hover-orange", remote: true %>
        <a class="feed-edit answer-edit hover-orange" data-url='<%=edit_answer_path(feed.id)%>'>수정</a>
        <span class="btn-feed-delete hover-orange hover-pointer" data-url="<%=answer_path(feed.id)%>">삭제</span>
    <% elsif feed.is_a? Post %>
        <!-- <%= link_to "수정", edit_post_path(feed.id), class: "hover-orange" %> -->
        <span class="btn-feed-delete hover-orange hover-pointer" data-url="<%=post_path(feed.id)%>">삭제</span>
    <% end %>
    <span class="feed-channels">공개범위: 
        <% feed.channels.each do |c| %>
            <%= c.name %>
        <% end %>
    <span/>
<% end %>
