<div class="inner-container">
  <%= render 'feeds/general_index', feeds: @feeds %>
</div> 
<!--더보기는 지금 구현하는 건 아닌 듯-->
<%= render 'comments/general_script' %>
<%= render 'drawers/script' %>
<%= render 'likes/script' %>
<%= render './delete_script' %>
<script>
  $(document).ready(function() {
    like_ajax($(".btn-answer-like"))
    like_ajax($(".btn-comment-like"))
    delete_ajax($(".btn-answer-delete"))
    delete_ajax($(".btn-comment-delete"))
  })
</script>