<br>
<h3 class="sign-title">인증 메일 재전송</h3>

<div class="sign-content-box" align="center">
  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                  input_html: { autocomplete: "email" } %>
    </div>
    </br>
    <div class="form-actions">
      <%= f.button :submit, "전송하기", class: "orange-btn" %>
    </div>
  <% end %>
</div>
