<div class="reply">
    <div class="comment-content">
        <span> 
            <% if r.author_id != user.id %>
                <%= render partial: "./user_profile_general", locals: {user_id: r.author_id, feed_id: feed_id } %>
            <% else %>
                <%= link_to image_tag(user.image.url, :class => "user-profile"), profile_path(user.id) %>
                <%= link_to user.username, profile_path(user.id), class: "username" %>
            <% end %>
                <span class = "content"><%= r.content %></span>
            </span>
            <%= render 'likes/default', target: r, like_btn_class: "btn-comment-like" %>
    </div>

    <div class = "comment-info">
        <span class="time"><%= time_tag r.created_at, class: "timeago" %></span>
        <span> <%= render 'replies/my_replies_menu', r: r %></span>
    </div>
</div>  