<%= render 'users/tabs' %>
<div class="sign-box">
<h1 class="sign-title">비밀번호 변경</h1>
<div class="profile-content-box" align="center">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, :label => false %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :current_password,
                required: true,
                input_html: { autocomplete: "current-password" },
                placeholder: " 현재 비밀번호",
                :label => false %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "new-password" },
                placeholder: " 새로운 비밀번호",
                :label => false %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                placeholder: " 비밀번호 확인",
                :label => false %>
  </div>
<br/>
  <div class="form-actions">
    <%= f.button :submit, "변경하기", class: "profile-button"%>
  </div>
<% end %>
<br/>
</div>
</div>