<div class="sign-box">
  <h1 class="sign-title">회원가입</h1>
  <div class="sign-content-box" align="center">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="recover-link" style ="color: #F48462;
      padding-bottom: 10px;">
      회원가입 후 이메일 인증이 진행됩니다.
      </div>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true ,
                  input_html: { autocomplete: "email" },
                  class: "form-input",
                  placeholder: " 이메일",
                  :label => false%>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  class: "form-input",
                  placeholder: " 비밀번호",
                  :label => false %>
    </div><br>

    <div class="form-actions">
      <%= f.button :submit, "회원가입", class: "orange-btn" %>
    </div>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to image_tag("icons/kakao.png", class: "kakao-btn"), omniauth_authorize_path(resource_name, provider) %>
    <% end -%><br>

    <a href='' data-toggle="modal" data-target=".bd-example-modal-lg" class="recover-link">
      개인정보처리방침
    </a>
    <%= render 'layouts/privacy_agreement' %>
  <% end %>
  </div>
</div>

