<div class="sign-box">
<h1 class="sign-title">Sign up</h1>

<div class="sign-content-box" align="center">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div style ="text-align: center;
    font-family: 'Nanul Gothic', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #F48462;
    padding-bottom: 10px;">
    기입하신 메일은 추후에 인증 절차를 거치거나, 비밀번호를 찾을 때 사용되므로
    <br> 자주 사용하는 메일을 기입해주세요
    </div>
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" },
                class: "form-input",
                placeholder: "email",
                :label => false%>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password" },
                class: "form-input",
                placeholder: "password",
                :label => false %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                class: "form-input",
                placeholder: "password confirmation",
                :label => false %>
    <%= f.input :username,
                required: true,
                autofocus: true,
                class: "form-input",
                placeholder: "username",
                :label => false %>
  </div>
  <br/>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "orange-btn" %>
  </div>
<% end %>
