<div class="prism-box__footer" style="margin-top: 5px; border-top: 1px solid #d7dae0;">
    <div>
        댓글 <br/><br>
        <div class="author-comments-div">
            <% Comment.where(target:Answer.find(answer.id), recipient_id: answer.author_id).each do |c| %>
                <%= render partial: "./general_comments", locals: {user_id: answer.author_id, answer_id: answer.id, c:c} %>
            <% end %>
        </div>
        <br>
        <div class="anonymous-comments-div">
            <% Comment.where(target: Answer.find(answer.id), recipient_id: nil).each do |c|%>
                <div class="comment-replies-form">
                    <div class="comment-replies">
                        <% if c.author_id != current_user.id %>
                            <%= render partial: "./general_comments", locals: {user_id: c.author_id, answer_id: answer.id, c:c} %>
                        <% else %>
                            <%= render partial: "./answer_author_comments", locals: {comment_author: current_user, c: c} %>
                        <% end %>
                        
                        <% Reply.where(comment_id: c.id).each do |r|%>
                            <%= render partial: "./replies", locals: {user: current_user, answer_id: answer.id, r: r} %>
                        <% end %>
                    </div>
                    <form action='/answers/comment/<%= c.id %>/reply' method='POST' class="prism-form reply" >
                        <input class="prism-form__input" type="text" name="content" >
                        <input type="submit" class="prism-form__button" value="저장">
                    </form>
                </div>
                <%# TOOD: action 설정 %>
            <% end %>
        </div>
        <form action='/answers/<%= answer.id %>/comments/0' method='POST' class="prism-form comment" >
            <input class="prism-form__input" type="text" name="content">
            <input type="submit" class="prism-form__button" value="저장">
        </form>
    </div>
</div>