<div class="prism-box__comment" >
    <div>
        <!-- 글쓴이가 보는 댓글 -->
        <% if current_user.id == feed.author.id %>
            <span class="friend-comments-nav selected">친구댓글 </span>&nbsp;<span class="anonymous-comments-nav"> 익명댓글 </span><br><br>
            <div class="friend-comments-div">
                <div class="friend-comments">
                    <% feed.comments.where(anonymous: false).each do |c| %>
                        <div class="comment-replies-form">
                            <div class="comment-replies">
                                <%= render partial: "comments/friends", locals: {feed: feed, c: c} %>

                                <% c.replies.each do |r| %>
                                    <%= render partial: "replies/friends", locals: {r: r} %>
                                <% end %>
                            </div>
                            <%= form_tag replies_path, class: "prism-form-friend reply" do %>
                                <%= hidden_field_tag "id", c.id %>
                                <%= hidden_field_tag "anonymous", "false" %>
                                <%= text_field_tag "content", nil, required: true, class: "prism-form__input" %>
                                <% if c.secret %>
                                    <%= hidden_field_tag "secret", "true" %>
                                <% else %>
                                    <label>
                                        <%= check_box_tag "secret", "true", false, class: "" %>
                                        숨기기
                                    </label>
                                <% end %>
                                <%= button_tag "저장", class: "prism-form__button" %>
                                <span class="comment-info-alert">숨기기 설정을 하면 댓글 작성자에게만 댓글이 보입니다.</span>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <%= form_tag comments_path, :class => "prism-form-friend comment author" do %>
                    <%= hidden_field_tag "target_type", feed.class.to_s %>
                    <%= hidden_field_tag "target_id", feed.id %>
                    <%= hidden_field_tag "anonymous", "false" %>
                    <%= text_field_tag "content", nil, required: true, :class => "prism-form__input" %>
                    <label>
                        <%= check_box_tag "secret", "true", false, class: "" %>
                        나만보기
                    </label>
                    <%= button_tag "저장", class: "prism-form__button" %>
                <% end %>
            </div>
            <div class="anonymous-comments-div" style="display:none">
                <div class="anonymous-comments">
                    <% feed.comments.where(anonymous: true).each do |c|%>
                        <div class="comment-replies-form">
                            <div class="comment-replies">
                                <% if c.author_id != current_user.id %>
                                    <%= render partial: "comments/general", locals: {user_id: c.author_id, feed_id: feed.id, c: c} %>
                                <% else %>
                                    <%= render partial: "comments/friends", locals: {feed: feed, c: c}%>
                                <% end %>
                                <% c.replies.each do |r|%>
                                    <% if r.author_id != current_user.id %>
                                        <%= render partial: "replies/general", locals: {feed_id: feed.id, r: r} %>
                                    <% else %>
                                        <%= render partial: "replies/friends", locals: {r: r} %>
                                    <% end %>
                                <% end %>
                            </div>
                            <%= form_tag replies_path, :class => "prism-form-general reply" do %>
                                <%= hidden_field_tag "id", c.id %>
                                <%= hidden_field_tag "anonymous", "true" %>
                                <%= hidden_field_tag "secret", "false" %>  <!-- 이건 디폴트 값. 익명 댓글은 secret 무조건 false -->
                                <%= text_field_tag "content", nil, required: true, :class => "prism-form__input" %>
                                <%= button_tag "저장", class: "prism-form__button" %>
                                <span class="comment-info-alert">이 댓글은 익명처리되어 공개되는 댓글입니다<span>
                            <% end %>
                        </div>
                    <%end%>
                </div>
                <!-- TODO: ajax not working -->
                <%= form_tag comments_path, :class => "prism-form-general comment" do %>
                    <%= hidden_field_tag "target_type", feed.class.to_s %>
                    <%= hidden_field_tag "target_id", feed.id %>
                    <%= hidden_field_tag "anonymous", "true" %>
                    <%= hidden_field_tag "secret", "false"%>
                    <%= text_field_tag "content", nil, required: true, :class => "prism-form__input" %>
                    <%= button_tag "저장", class: "prism-form__button" %>
                    <span class="comment-info-alert">이 댓글은 익명처리되어 공개되는 댓글입니다<span>
                <% end %>
            </div>
        <!-- 친구가 보는 댓글 -->
        <% else %>
            댓글 <br><br>
            <div class="comments-div">
                <div class="comments">
                    <% feed.comments.where(anonymous: false).accessible(current_user.id).each do |c| %>
                        <div class="comment-replies-form">
                            <div class="comment-replies">
                                <%=render partial: "comments/friends", locals: {feed: feed, c: c} %>

                                <% c.replies.accessible(current_user.id).each do |r| %>
                                    <%= render partial: "replies/friends", locals: {r: r} %>
                                <% end %>
                            </div>
                            <%= form_tag replies_path, class: "prism-form-friend reply" do %>
                                <%= hidden_field_tag "id", c.id %>
                                <%= hidden_field_tag "anonymous", "false" %>
                                <%= text_field_tag "content", nil, required: true, class: "prism-form__input" %>
                                <label>
                                    <%= check_box_tag "secret", "true", false, class: "" %>
                                    숨기기
                                </label>
                                <%= button_tag "저장", class: "prism-form__button" %>
                                <span class="comment-info-alert">숨기기 설정을 하면, 글쓴이와 댓글 작성자에게만 댓글이 보입니다.</span>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <!-- FIXME: 댓글 쓰고 나서 그 창에서는 그 댓글에 대한 대댓글 form이 안나옴. 새로고침하면 나옴-->
                <%= form_tag comments_path, :class => "prism-form-friend comment" do %>
                    <%= hidden_field_tag "target_type", feed.class.to_s %>
                    <%= hidden_field_tag "target_id", feed.id %>
                    <%= hidden_field_tag "anonymous", "false" %>
                    <%= text_field_tag "content", nil, required: true, :class => "prism-form__input" %>
                    <label>
                        <%= check_box_tag "secret", "true", false, class: "" %>
                        숨기기
                    </label>
                    <%= button_tag "저장", class: "prism-form__button" %>
                    <span class="comment-info-alert">숨기기 설정을 하면, 글쓴이에게만 댓글이 보입니다.</span>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
