<% if feed.author.id == c.author.id && feed.author.id != c.recipient_id %>
    <div class="comment-indent">
<% else %> 
    <div class="comment">
<% end %>
     <div class = "comment-content">
        <span>
            <%= link_to image_tag(c.author.image.url, :class => "user-profile"), profile_path(c.author.id) %>
            <%= link_to c.author.username, profile_path(c.author.id), class: "username" %>
            <span class= "content"><%= c.content %> </span>
        </span>
        <%= render 'likes/default', target: c, like_btn_class: "btn-comment-like" %>
    </div>

    <div class = "comment-info">
        <span class="authorized"> <%= render 'comments/my_comments_menu', c: c %></span>
        <span class="date time"><%= time_tag c.created_at, class: "timeago" %></span>
    </div>
</div>
   