<div class="comment">
     <div class = "comment-content">
        <span>
            <%= link_to image_tag(c.author.image.url, class: "user-profile"), profile_path(c.author.id) %>
            <%= link_to c.author.username, profile_path(c.author.id), class: "username" %>
            <% if c.secret %>
                <%= image_tag("icons/lock-icon.png", class: "lock-icon")%>
            <% end %>
            <span class= "content">
                <%= c.content %>
            </span>
        </span>
        <%= render 'likes/default', target: c, like_btn_class: "btn-comment-like" %>
    </div>

    <div class = "comment-info">
        <span class="date time"><%= time_tag c.created_at, class: "timeago" %></span>
        <span class="authorized"> <%= render 'comments/my_comments_menu', c: c %></span>
        <span class="btn-comment">댓글달기</span>
    </div>
</div>
   