<div class="comment-replies-form">
    <div class="comment-replies">
        <%= render partial: "comments/friends", locals: {feed: feed, c: c}%>
    </div>
    <%= form_tag replies_path, :class => "prism-form-general reply" do %>
        <%= hidden_field_tag "id", c.id %>
        <%= hidden_field_tag "anonymous", "true" %>
        <%= hidden_field_tag "secret", "false" %>  <!-- 이건 디폴트 값. 익명 댓글은 secret 무조건 false -->
        <%= text_area_tag "content", nil, required: true, :class => "prism-form__comment", autocomplete: "off", "data-enable-grammarly": "false" %>
        <%# button_tag "저장", class: "prism-form__button" %>
        <span class="comment-info-alert">이 댓글은 익명처리되어 공개되는 댓글입니다<span>
    <% end %>
</div>