<div class="comment">
    <div class = "comment-content">
            <%= render partial: "./user_profile_general", locals: {user_id: c.author_id, feed_id: feed_id } %>
            <span class="comment-text">
                <span class= "content"><%= c.content %> </span>
            </span>
        <%= render 'likes/default', target: c, like_btn_class: "btn-comment-like" %>
    </div>

    <div class = "comment-info">
        <span class="date time"><%= time_tag c.created_at, class: "timeago" %></span>
        <span><%= render 'comments/my_comments_menu', c: c %></span>
        <span class="btn-comment general">댓글달기</span>
    </div>
</div> 