<div class="search-header">
    <%= form_tag(searchpath, method: :get, class: "search-form") do %>
    <%# path 설정 %>
        <div class="search-container">
            <span class="search-icon"><i class="fas fa-search"></i></span>
            <%= text_field_tag :query, nil, required: true, class: "search-input", autocomplete: "off", placeholder: "질문/사용자 검색", value: query %>
        </div>
    <% end %>
    <br>

    <!--<span class="search-keyword">'<%= query %>'</span> 키워드로 찾은 검색 결과입니다.-->

    <div id="search-tabs">
        <!-- FIXME: 현재 페이지에 색깔 주황색이게.. active link 없이 할 수 있나!! active link는 인자를 못보내는 듯 -->
        <%= form_tag(search_all_path, method: :get, class: "search-tab") do %>
            <%= hidden_field_tag :query, query %>
            <%= button_tag '전체', class: "search-tab-button all" %>
        <% end %> |
        <%= form_tag(search_user_path, method: :get, class: "search-tab") do %>
            <%= hidden_field_tag :query, query %>
            <%= button_tag '사용자', class: "search-tab-button user" %>
        <% end %> |  
        <%= form_tag(search_admin_question_path, method: :get, class: "search-tab") do %>
            <%= hidden_field_tag :query, query %>
            <%= button_tag '질문', class: "search-tab-button admin_question" %>
        <% end %> | 
        <%= form_tag(search_custom_question_path, method: :get, class: "search-tab") do %>
            <%= hidden_field_tag :query, query %>
            <%= button_tag '사용자 질문', class: "search-tab-button custom_question" %>
        <% end %> 
        
        <br><br>
        <!-- TODO: popular tags, popular questions 부분 추가 -->
     
        <%# form_tag(search_friend_answer_path, method: :get, class: "search-tab") do %>
        <%# hidden_field_tag :query, query %>
        <%# button_tag '친구 게시물', class: "search-tab-button friend_answer" %>
        <%# end %>  
        <%# form_tag(search_anonymous_answer_path, method: :get, class: "search-tab") do %>
            <%# hidden_field_tag :query, query %>
            <%# button_tag '익명 게시물', class: "search-tab-button anonymous_answer" %>
        <%# end %>  
    </div>
</div>

<script>
    $(document).ready(function() {

        window.location.toString().match(/(search\/.*?\?)/);
        var result = (/search\/(.*?)\?/g).exec(window.location.toString())
        
        console.log(result[1])
        $("#search-tabs").find("." + result[1]).addClass("selected")
    })
</script>
 
