<div class="inner-container">
    <%= render partial: "./user_answers_layout", locals: {user: @user} %>
    <% @drawers.reverse_each do |d| %>
        <% if d.target_type == "Question" %>
            <div class = "prism-box">
                <div class = "prism-box_question">
                    <br>
                    <div>
                        <a href="/questions/<%=d.target.id%>" class="question-content"><%= d.target.content %></a>   
                        <%= link_to image_tag("icons/drawer-on-icon", class: "btn-drawer"), drawer_path(d.target.id, target_type: "Question"), method: :delete, data: {confirm: '이 질문을 서랍장에서 꺼내시겠습니까?'} %>
                    </div>    
                    <div classs = "question-author">    
                        <% if d.target.author.has_role? :newuser %>
                            <br><br>
                            Question made by 
                            <%= render partial: "./user_profile_small", locals: {user: d.target.author} %>
                        <% end %>
                    </div>
                </div>
                <br>
            </div>
            
        <% else %>
            <div class = "prism-box">
                <div class = "prism-box__header">
                    <%= render partial: "./user_profile", locals: {user: d.target.author} %><br/>
                </div>
                <div class = "prism-box__content">
                    <br> 
                    <a href="/questions/<%=d.target.question.id%>" class="question"><%= d.target.question.content %></a> <br>
                    <div class = "answer">
                        <%= d.target.content %>
                        <%= link_to "전체 글 보기", answer_path(d.target.id) %><br/>
                    </div>
                    <br>
                    <div class = "date"><%= time_tag d.target.updated_at, class: "timeago" %></div>
                </div>
                <div class = "prism-box__footer" style="padding-bottom: 10px;">
                    <% if current_user.id == @user.id %>
                        <%= link_to "수정", edit_answer_path(d.target.id) %>
                        <%= link_to "삭제", answer_path(d.target.id),
                                            method: :delete,
                                            data: { confirm: '답변을 지우시겠습니까?'} %>
                <% end %>                 

                <% if Drawer.where(user_id: current_user.id, target: d.target).empty? %>
                    <%= link_to image_tag("icons/drawer-default-icon", class: "btn-drawer"), drawers_path(target_id: d.target.id, target_type: "Answer"), method: :post %>
                <% else %>
                    <%= link_to image_tag("icons/drawer-on-icon", class: "btn-drawer"), drawer_path(d.target.id, target_type: "Answer"), method: :delete, data: {confirm: '이 글을 서랍장에서 꺼내시겠습니까?'} %>
                <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<%= render 'layouts/timestamp' %>