<div class="inner-container">
    <%= render partial: "./user_answers_layout", locals: {user: @user} %>
    <% @stars.reverse_each do |s| %>
        <% if s.target_type == "Question" %>
            <div class = "prism-box">
                <div class = "prism-box_question">
                    <br> 
                    <a href="/questions/<%=s.target.id%>" class="question"><%= s.target.content %></a>          
                    <%= link_to "<i class='material-icons'>star</i>".html_safe, star_path(s.target.id, target_type: "Question"), method: :delete, data: {confirm: '별을 삭제하시겠습니까?'} %>
                    <% if s.target.author.has_role? :newuser %>
                        <br><br>
                        <div class = "prism-box__content">
                            <div class = "date">Question made by <%= render partial: "./user_profile", locals: {user: s.target.author} %><br/>
                            <%= s.target.created_at.strftime("%Y년 %m월 %d일 %I : %M %p") %></div>
                        </div>
                    <% end %>
                </div>
                <br>
            </div>
            
        <% else %>
            <div class = "prism-box">
                <div class = "prism-box__header">
                    <%= render partial: "./user_profile", locals: {user: s.target.author} %><br/>
                </div>
                <div class = "prism-box__content">
                    <br> 
                    <a href="/questions/<%=s.target.question.id%>" class="question"><%= s.target.question.content %></a> <br><br>
                    <div class = "answer">
                        <%= s.target.content %>
                        <%= link_to "전체 글 보기", answer_path(s.target.id) %><br/>
                    </div>
                    <br>
                    <div class = "date"><%= s.target.created_at.strftime("%Y년 %m월 %d일 %I : %M %p") %></div>
                </div>
                <div class = "prism-box__footer" style="padding-bottom: 10px;">
                    <% if current_user.id == @user.id %>
                        <%= link_to "수정", edit_answer_path(s.target.id) %>
                        <%= link_to "삭제", answer_path(s.target.id),
                                            method: :delete,
                                            data: { confirm: '답변을 지우시겠습니까?'} %>
                <% end %>                 
                <% if Star.where(user_id: current_user.id, target: s.target).empty? %>
                    <%= link_to "<i class='material-icons'>star_border</i>".html_safe, stars_path(target_id: s.target.id, target_type: "Answer"), method: :post %>
                <% else %>
                    <%= link_to "<i class='material-icons'>star</i>".html_safe, star_path(s.target.id, target_type: "Answer"), method: :delete, data: {confirm: '별을 삭제하시겠습니까?'} %>
                <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

