<div class="profile-content-box">
<%= form_for user, url: edit_user_profile_url(user) do |u| %>
    <div>
        <% u.hidden_field :id, :value => current_user.id %>

        <div>
            <%= u.label "Username" %>
            <%= u.text_field :username, :required => true %>
        </div>

        <div>
            <%= u.label "Email" %>
            <%= u.text_field :email, :required => true %>
        </div>

        <div>
            <%= u.label "Date of Birth" %>
            <%= u.date_field :date_of_birth %>
        </div>

        <div>
            <%= image_tag current_user.image.url, :style => "height:40px; width:40px; border-radius:15px;" %>
            <%= u.label "[jpg, jpeg, png, gif ONLY]" %>
            <%= u.file_field :image %>
        </div>
    <br>
        <%= u.submit "수정하기", class: "profile-button" %>
    </div>
<% end %>
</div>