<% users.each do |user| %> 
    <div class="user-box">
        <%= link_to image_tag(user.image.url), profile_path(user.username) %>
        <%= link_to user.username, profile_path(user.username), class: "username" %>
        <% if user.id != current_user.id %>
            <div class="friends-setting-div">
            <% if !user.friends.include? current_user %>
                <%# view에서 record에 접근하는 게 정상인가.. 이거 어떻게 .recieved_requests이런거 이용해서 안될까! %>
                <% if FriendRequest.where(requester_id: user.id, requestee_id: current_user.id).exists? %>
                    <%= link_to "친구수락", add_friend_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                <% elsif FriendRequest.where(requester_id: current_user.id, requestee_id: user.id).exists? %>
                    <% fr_id = FriendRequest.where(requester_id: current_user.id, requestee_id: user.id).first.id %>
                    <%= link_to "친구요청 취소", friend_request_path(fr_id), method: :delete, id: "profile__friends-setting-btn" %>
                <% else %>
                    <%= link_to "친구요청", friend_request_create_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
                <% end %>
            <% else %>
                <%= link_to "친구 끊기", add_friend_path(user.id), method: :post, id: "profile__friends-setting-btn" %>
            <% end %>
            </div>
        <% end %>
    </div>
<% end%>