<div class="prism-title"><h1>친구 목록</h1></div>
<div class="friend-list">
    
    <%= render partial: "channels/new" %>
    <!-- TODO: 채널 별 삭제 버튼, 사람 옮기기 가능하게-->
    <!-- TODO: 단, '익명피드'와 '나만보기' 채널은 이 리스트에 안나오게!! 글 쓸 때 체크하는 채널 리스트와, 마이페이지에 들어갔을 때 채널 리스트에만 등장해야 함 -->
    <!-- TODO: 그 이유는, 두 채널은 친구들을 분류하는 그룹으로서의 기능이 없을 뿐 아니라, 삭제 또는 수정이 불가하나 채널으로 둘 것이기 때문 -->

    <!-- 전체 친구 -->
    전체<br>
    <%= render partial: "friend_list", locals: {friends: @friends} %>

    <!-- 채널별 친구 -->
    <div>
        <% @channels.each do |channel| %>
            <%= channel.name %><%= link_to "채널 삭제", channel_path(channel.id), method: :delete %><br/> 
            <%= render partial: "friend_list", locals: {friends: channel.friends} %><br>
        <% end %>
    </div>
    <% if @friends.empty? %>
        친구를 초대해보세요!<br> <!-- FIXME: 버그인가 왜 줄바꿈이 안되지 -->
        <%= link_to "친구 초대하기", invitation_path %>
    <% end %>
</div>
