<div class="inner-container">
    <div class = "user-header" >
    <div id = "profile" >
        <% @user = current_user%>
        <%= form_for @user, url: edit_user_profile_url(@user.username) do |u| %>
            <% u.hidden_field :id, :value => current_user.id %>
            <div class="image-upload">
                <div class="image-container">
                    <%= image_tag current_user.image.url, class: "edit-profile-img", id: "edit-profile-img" %>
                    <%= u.file_field :image, id: "file-input", accept: 'image/png,image/jpeg,image/jpg', "data-url" => image_upload_path(current_user.slug) %>
                    <label for="file-input">
                        <span class="camera-icon">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-camera fa-3x" aria-hidden="true"></i><br>사진 올리기</span>
                    </label>
                </div>
            </div>                
        <% end %>
        <div id = "profile__content-div">
            <div id = "profile__username-setting-div">
                <div id = "username"><%= current_user.username %></div>
                <div id ="profile__setting">
                    <%= link_to image_tag("icons/setting-default-icon.png", id: "profile__setting-btn"), edit_user_profile_path(current_user.slug) %>
                </div>
            </div>
            <div id = "user-message">
                <% if @user.profile && @user.profile != "" %>
                    <%= @user.profile %>
                <% else %>
                    설정 아이콘을 눌러 한 줄 소개를 작성해보세요.
                <% end %>
            </div>
            <div id = "profile__friends-setting">
                <%= link_to "게시물 / 서랍장", profile_path(current_user.slug), id: "profile__friends-setting-btn" %>
            </div>
        </div>
    </div>
    <div id="friend-list">
        <%# render partial: "channels/new" %>
        <div id="channel-nav-with-create-div">
            <div id="channel-nav-div">
                <div class="channel-nav all active">전체</div>
                <% @channels.each do |channel| %>
                    <div class="channel-nav <%=channel.id%>">
                        <%= channel.name%>
                        <%#= link_to image_tag("icons/setting-white-icon.png", id: "channel-setting-btn", style: " display: none; width: 20px; height:auto; vertical-align: -4px;") %>
                    </div>
                <% end %>
            </div>
            <button id="btn-channel-add">+</button>
            <%= form_tag '/channels/-1', :id => "name-create-form" do %>
                <%= text_field_tag "name", nil, required: true, :id => "name-create-input", :maxlength => 20, autocomplete: "off" %>
                <%#= button_tag "완료", :id => "name-create-btn" %>
            <% end %>
        </div>

        <div id="channel-info">
            <div id="channel-name-div">
                <div id="channel-name">전체</div>
                <%= form_tag '/channels/-1', :id => "name-edit-form" do %>
                    <%= text_field_tag "name", nil, required: true, :value => '전체', :id => "name-edit-input", :maxlength => 20, autocomplete: "off"%>
                    <%= button_tag "저장", :id => "name-edit-btn" %>
                <% end %>
            </div>
            <!-- TODO  사람수 표시-->
            <div id="channel-default-btns">
                <div class ="channel-btns-div">
                    <%= image_tag("icons/setting-default-icon.png", id: "btn-channel-edit") %>
                    <%= link_to image_tag("icons/delete-icon", class: "btns-channel-delete"), '/channels/-1', method: :delete, data: { confirm: '정말 이 그룹을 삭제하시겠습니까?' }, id: "btn-channel-delete" %>
                </div>
            </div>
            <!--button id="btn-channel-edit-complete">완료</button-->
        </div>

        <br>

        <div id="friends-div">
            <%= render partial: "friend_list", locals: {friends_with_channels: @friends_with_channels} %>
        </div>
    </div>
</div>


<%# 이 스크립트는 한번밖에 안쓰여서 우선 js로 안바꿈. %>
<%= javascript_include_tag('channels_script.js') %>