<h1>My Page</h1>

<div>
    <p>Profile pic: 
        <% if current_user.image.blank? %> (프사 없음)
        <% else %>
            <%= image_tag current_user.image.thumb.url  %>
        <% end %>
    </p>
    <p>email: <%= current_user.email %></p>
    <p>username:
        <% if current_user.username.nil? %>-
        <% else %>
            <%= current_user.username %>
        <% end %>
    </p>
    <p>date of birth: 
        <% if current_user.date_of_birth.nil? %>-
        <% else %>
            <%= current_user.date_of_birth %>
        <% end %>
    </p>
</div>

<%= link_to "Edit My Profile", edit_user_profile_url(current_user.id) %>
<%= link_to "Edit My Password", edit_user_registration_url(current_user.id) %>