<h1>My Page</h1>

<div>
    <p>Profile pic: 
        <% if current_user.profile_pic_file_name.nil? %>-
        <% else %>
            <%= link_to current_user.profile_pic_file_name, current_user.profile_pic.url(:original), download: current_user.profile_pic.original_filename %>
        <% end %>
    </p>
    <p>Id: <%= current_user.id %></p>
    <p>email: <%= current_user.email %></p>
    <p>username:
        <% if current_user.username.nil? %>-
        <% else %>
            <%= current_user.username %>
        <% end %>
    </p>
    <p>date of birth: 
        <% if current_user.date_of_birth.nil? %>-
        <% else %>
            <%= current_user.date_of_birth %>
        <% end %>
    </p>
</div>

<%= link_to "Edit My Profile", edit_user_profile_url(current_user.id) %>
<%= link_to "Edit My Password", edit_user_registration_url(current_user.id) %>