<div class="sign-box">
  <p class="password-change-title">비밀번호 재설정을 위해 이메일을 입력해주세요.</p>

  <div class="sign-content-box" align="center">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }, 
                    class: "form-input",
                    placeholder: " 이메일",
                    :label => false,
                    style: "padding-bottom: 100px;"%>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "이메일 보내기" , class: "orange-btn"%>
      </div>
    <% end %>

  <%
=begin%>
 <%= render "devise/shared/links" %>  
<%
=end%>

    
  </div>
</div>