<div class="prism-box__footer" style="padding-bottom: 10px;">
    <!--
    <% if Drawer.where(user_id: current_user.id, target: a.question).empty? %>
        <%= link_to "<i class='material-icons'>star_border</i>".html_safe, drawers_path(target_id: a.question.id, target_type: "Question"), method: :post %>
    <% else %>
        <%= link_to "<i class='material-icons'>star</i>".html_safe, drawer_path(a.question.id, target_type: "Question"), method: :delete %>
    <% end %>
    -->
    <% if current_user.id == user.id %>
        <%= link_to "수정", edit_answer_path(a.id) %>
        <%= link_to "삭제", answer_path(a.id),
                            method: :delete,
                            data: { confirm: '답변을 지우시겠습니까?'} %>
    <% end %>                 
    <% if Drawer.where(user_id: current_user.id, target: a).empty? %>
        <%= link_to "<i class='material-icons'>star_border</i>".html_safe, drawers_path(target_id: a.id, target_type: "Answer"), method: :post %>
    <% else %>
        <%= link_to "<i class='material-icons'>star</i>".html_safe, drawer_path(a.id, target_type: "Answer"), method: :delete, data: {confirm: '별을 삭제하시겠습니까?'} %>
    <% end %>
    <br>
</div>
<div class="prism-box__footer" style="margin-top: 5px; border-top: 1px dashed #d7dae0;">
    <div>
        댓글 <br/><br>
        <div class="author-comments">
            <% Comment.where(target: Answer.find(a.id), recipient_id: user.id).each do |c| %>
                <div class="comment">
                    <%= image_tag c.author.image.url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px;" %>
                    <%= link_to c.author.username, user_answers_path(c.author.id), class: "username" %>
                    <span style="vertical-align: +6px;">: <%= c.content %> <br/></span>
                </div>
            <% end %>
            <% if current_user.id == user.id %>
                <form class="prism-form" action='/answers/<%= a.id %>/comments/<%= user.id %>' method='POST'>
                    <input class="prism-form__input" type='text' name='content' />
                    <button class="prism-form__button">댓글 달기</button><br>
                    이 댓글은 전체 공개되는 댓글입니다
                </form>
                <br><br>
            <% end %>
        </div>

        <% if current_user.id == user.id %>
            <% recipients = [] %>
            <% a.comments.each do |c| %>
                <% if c.recipient_id!= nil && c.recipient_id != user.id %>
                    <% recipients.push(c.recipient_id) %>
                <% end %>
            <% end %>
            <% recipients.uniq! %>
            <% recipients.each do |r| %>
                <div>
                    <div class="comment-block">
                        <% Comment.where(target: Answer.find(a.id), recipient_id: r).each do |c| %>
                            <div class="comment">
                                <% if c.author_id == user.id %>
                                    ㄴ
                                    <%= image_tag c.author.image.url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px;" %>
                                    <%= link_to c.author.username, user_answers_path(c.author.id), class: "username" %>
                                    <span style="vertical-align: +6px;">: <%= c.content %> <br/></span>
                                <% else %>
                                    <%= image_tag c.author.image.url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px;" %>
                                    <%= link_to c.author.username, user_answers_path(c.author.id), class: "username" %>
                                    <span style="vertical-align: +6px;">: <%= c.content %> <br/></span>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <form class="prism-form" action='/answers/<%= a.id %>/comments/<%= r %>' method='POST'>
                        ㄴ<input class="prism-form__input" type='text' name='content' />
                        <button class="prism-form__button">댓글 달기</button>
                    </form>
                </div>
                <br>
            <% end %>
            <div class="anonymous-comments">
                <% Comment.where(target: Answer.find(a.id), recipient_id: nil).each do |c|%>
                    <div class="comment">
                        <%= render partial: "./user_profile_general", locals: {user_id: c.author_id, answer_id: a.id} %>
                        <span style="vertical-align: +6px;">: <%= c.content %> <br/></span>
                    </div>
                    <% Reply.where(comment_id: c.id).each do |r|%>
                        <div class="reply">
                            ㄴ
                            <%= image_tag r.author.image.url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px;" %>
                            <span style="vertical-align: +6px;">: <%= r.content %> <br/></span>
                        </div>
                    <% end %>
                    <%# TOOD: action 설정 %>
                    <form class="prism-form" action='' method='POST'>
                        ㄴ<input class="prism-form__input" type='text' name='reply' />
                        <button class="prism-form__button">대댓글 달기</button>
                    </form>
                <%end%>
            </div>
        <% else %>
            <% Comment.where(target: Answer.find(a.id), recipient_id: current_user.id).each do |c| %>
                <% if c.author.id == current_user.id %>
                    <%= image_tag c.author.image.url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px;" %>
                    <%= link_to c.author.username, user_answers_path(c.author.id), class: "username" %>
                    <span style="vertical-align: +6px;">: <%= c.content %></span> <br/>
                <% elsif c.author.id == user.id %>
                    ㄴ
                    <%= image_tag c.author.image.url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px;" %>
                    <%= link_to c.author.username, user_answers_path(c.author.id), class: "username" %>
                    <span style="vertical-align: +6px;">: <%= c.content %></span> <br/>
                <% end %>
            <% end %>
            <form action='/answers/<%= a.id %>/comments/<%= current_user.id %>' method='POST' class="prism-form" >
                <input class="prism-form__input" type="text" name="content">
                <button class="prism-form__button">댓글 달기</button>
            </form>
        <% end %>
    </div>
</div>