<div class = "question-box">
    <p class = "question">
        <%= @question.content %>
    </p>
    <div align = "center">
        <%= form_for answer do |f| %>
            <%= f.hidden_field :author_id, :value => current_user.id %>
            <%= f.hidden_field :question_id, :value => @question.id %>
            <%= f.text_area :content, class: "new-answer-field", required: true, autofocus: true, "data-enable-grammarly": "false" %>
            <br><br>

            <!--tag field-->
            <%# <%= f.text_area :tag_string %>
            <div class = "channels answer">
                <span>공개범위</span>
                <%= link_to image_tag("icons/setting-default-icon.png", class: "channel-setting-icon"), friends_path()%>
                <% current_user.channels.each do |channel| %>
                    <%= check_box_tag "c[]", channel.id, answer.channels.include?(channel), id: channel.id.to_s%>
                    <%= label_tag "#{channel.id}", channel.name %>
                <% end %>
            </div>

            <%= f.submit "저장", class: "answer-button"%>
        <% end %>
    </div>
</div>

<%# render 'layouts/textarea_script' %>