<div class = "question-box">
    <p class = "question">
        <%= @question.content %>
    </p>
    <%= form_for answer do |f| %>
        <%= f.hidden_field :author_id, :value => current_user.id %>
        <%= f.hidden_field :question_id, :value => @question.id %>
        <%= f.text_area :content, class: "new-answer-field", required: true, autofocus: true, "data-enable-grammarly": "false" %>
        <br><br> 
        <%= render partial: "channels/select_channels", locals: {article: answer} %>

        <%= f.submit "저장", class: "answer-button"%>
    <% end %>
</div>

<%# render 'layouts/textarea_script' %>