<div class = "question-box">
    <p class = "question">
        <%= @question.content %>
    </p>
    <div align = "center">
        <%= form_for answer do |f| %>
            <%= f.hidden_field :author_id, :value => current_user.id %>
            <%= f.hidden_field :question_id, :value => @question.id %>
            <%= f.text_area :content, class: "new-answer-field", required: true, autofocus: true, "data-enable-grammarly": "false" %>
            <br><br>

            <!--tag field-->
            <%# <%= f.text_area :tag_string %>

            <% current_user.channels.each do |channel| %>
                <%= check_box_tag "c[]", channel.id, false%>
                <%= label_tag "#{channel.id}", channel.name %>
            <% end %>

            <%= f.submit "저장", class: "answer-button"%>
        <% end %>
    </div>
</div>

<%= render 'layouts/textarea_script' %>