<div class="inner-container">
  <div class="prism-title">
    <h1>General Feed</h1>
  </div>
  <% @answers.anonymous(current_user.id).reverse_each do |answer| %>
    <div class="prism-box">
      <div class="prism-box__header">
        <%= render partial: "./user_profile", locals: {user: answer.author} %>
        <%#= answer.author.username %>
        <i class="material-icons">more_vert</i>
      </div>
      <div class="prism-box__content"><br>
        <a href="/questions/<%=answer.question.id%>" class="question" style="font-size: 18px;"><%= answer.question.content %></a> <br><br>
        <div class="answer"><%= answer.content %> <br><br></div>
        <div class = "date"><%= answer.updated_at.strftime("%m월 %d일") %></div><!-- 연도는 %Y -->
      </div>
      <div class="prism-box__footer" style="padding-bottom: 10px;">
        <% if Drawer.where(user_id: current_user.id, target: answer).empty? %>
          <%= link_to "<i class='material-icons'>star_border</i>".html_safe, drawers_path(target_id: answer.id, target_type: "Answer"), method: :post %>
        <% else %>
          <%= link_to "<i class='material-icons'>star</i>".html_safe, drawer_path(answer.id, target_type: "Answer"), method: :delete %>
        <% end %>
      </div> <!--이거 처음 쓴 날짠지 업데이트한 날짠지..?-->
    </div>
  <% end %>
</div>
<!--더보기는 지금 구현하는 건 아닌 듯-->
<!--<div class="prism-box__footer" style="margin-top: 5px; border-top: 1px dashed #d7dae0;">
              <div>
                댓글 <br><br>
                <%# 요거 이미지 바꿀것임 걍 임시임 놀라지 마셈 %>
                <% author_icon_url = "icons/assign-icon.png" %>
                <% comments = Comment.anonymous(answer.id) %>
                <div class="author-comments">
                    <% comments.where(recipient_id: answer.author_id).each do |c| %>
                        <div class="comment">
                            <%= image_tag author_icon_url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px; margin-bottom: 5px; "%>
                            <span style="vertical-align: +6px;">: <%= c.content %> <br/></span>
                        </div>
                    <% end %>
                </div>
                <% recipients = [] %>
                <% comments.each do |c| %>
                    <% if c.recipient_id != answer.author_id %>
                        <% recipients.push(c.recipient_id) %>
                    <% end %>
                <% end %>
                <% recipients.uniq! %>
                <% recipients.each do |r| %>
                <div>
                  <div class="comment-block">
                    <% comments.where(recipient_id: r).each do |c|%>
                      <div class="comment">
                        <% if c.author_id == answer.author_id %>
                            ㄴ
                            <%= image_tag author_icon_url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px; margin-bottom: 5px; " %>
                            <span style="vertical-align: +6px;">: <%= c.content %> <br/></span>
                        <% else %>
                            <%= render partial: "./user_profile_general", locals: {user_id: c.author_id, answer_id: answer.id} %>
                            <span style="vertical-align: +6px;">: <%= c.content %> <br/></span>
                        <% end %>
                      </div>
                    <% end %>
                    </div>
                  </div>
                  <% end %>
                  <form action='/answers/<%= answer.id %>/comments/<%= current_user.id %>' method='POST' class="prism-form" >
                      <input class="prism-form__input" type="text" name="content">
                      <button class="prism-form__button">댓글 달기</button>
                  </form>
              </div>
            </div>-->