<div class="inner-container">
  <div class="prism-title">
    <h1>General Feed</h1>
  </div>
  <% @answers.anonymous(current_user.id).reverse_each do |answer| %>
    <div class="prism-box">
      <div class="prism-box__header">
        <%= render partial: "./user_profile_general", locals: {user_id: answer.author_id, answer_id: answer.id} %>
        <%#= answer.author.username %>
      </div>
      <div class="prism-box__content"><br>
        <a href="/questions/<%=answer.question.id%>" class="question" style="font-size: 18px;"><%= answer.question.content %></a> <br><br>
        <div class="answer"><%= answer.content %> <br><br></div>
        <div class = "date"><%= answer.updated_at.strftime("%Y년 %m월 %d일 %I : %M %p") %></div><!-- 연도는 %Y -->
      </div>
      <div class="prism-box__footer" style="padding-bottom: 10px;">
        <% if Drawer.where(user_id: current_user.id, target: answer).empty? %>
            <%= link_to image_tag("icons/drawer-default-icon", class: "btn-drawer"), drawers_path(target_id: answer.id, target_type: "Answer"), method: :post %>
        <% else %>
            <%= link_to image_tag("icons/drawer-on-icon", class: "btn-drawer"), drawer_path(answer.id, target_type: "Answer"), method: :delete, data: {confirm: '이 글을 서랍장에서 꺼내시겠습니까?'} %>
        <% end %>
        <br>
      </div> <!--이거 처음 쓴 날짠지 업데이트한 날짠지..?-->
      <div class="prism-box__footer" style="margin-top: 5px; border-top: 1px solid #d7dae0;">
        <div>
          댓글 <br/><br>
          <div class="anonymous-comments-div">
              <% Comment.where(target: Answer.find(answer.id), recipient_id: nil).each do |c|%>
                <div class="comment-replies-form">
                  <div class="comment-replies">
                    <div class="comment">
                        <% if c.author_id != current_user.id %>
                          <%= render partial: "./user_profile_general", locals: {user_id: c.author_id, answer_id: answer.id} %>
                        <% else %>
                          <%= image_tag current_user.image.url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px;" %>
                          <%= link_to current_user.username, user_answers_path(current_user.id), class: "username" %>
                        <% end %>
                        <span style="vertical-align: +6px;">: <%= c.content %> <br/></span>
                    </div>
                      <% Reply.where(comment_id: c.id).each do |r|%>
                        <div class="reply">
                            ㄴ
                            <% if r.author_id != current_user.id %>
                              <%= render partial: "./user_profile_general", locals: {user_id: r.author_id, answer_id: answer.id} %>
                            <% else %>
                              <%= image_tag current_user.image.url, :style => "height:20px; width:20px; border-radius:10px; margin-right: 2px;" %>
                              <%= link_to current_user.username, user_answers_path(current_user.id), class: "username" %>
                            <% end %>
                            <span style="vertical-align: +6px;">: <%= r.content %> <br/></span>
                        </div>
                      <% end %>
                    </div>
                    <form action='/answers/comment/<%= c.id %>/reply' method='POST' class="prism-form reply" >
                        ㄴ<input class="prism-form__input" type="text" name="content">
                        <input type="submit" class="prism-form__button">
                    </form>
                  </div>
                  <%# TOOD: action 설정 %>
              <% end %>
          </div>
          <form action='/answers/<%= answer.id %>/comments/0' method='POST' class="prism-form comment" >
              <input class="prism-form__input" type="text" name="content">
              <input type="submit" class="prism-form__button">
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!--더보기는 지금 구현하는 건 아닌 듯-->

<script>
  $(document).ready(function() {

    $("form").submit( function(e) {

        e.preventDefault();

        var form = $(this)
        $.ajax({
          type: "POST",
          url: form.attr('action'),
          
          data: form.serialize(),
          success: function(data) {
           
            if(form.hasClass("comment")) {

              var html = $(`
              <div class='comment-replies-form'>
                <div class='comment-replies'>
                  <div class='comment'>
                    <img src='${data.imageurl}' 
                      alt='' style='height:20px; width:20px; 
                      border-radius:10px; margin-right: 2px;'>
                    <a href='${data.path}' class='username'>
                      ${data.username}
                    </a>
                    <span style='vertical-align: +6px;'>:
                      ${data.content}<br/>
                    </span>  
                  </div>
                </div>
                <form action='/answers/comment/${data.comment_id}/reply' method='POST' class="prism-form reply" >
                    ㄴ<input class="prism-form__input" type="text" name="content">
                    <input type="submit" class="prism-form__button">
                </form>
              </div>
              `)

              console.log(html)

              form.parent().find(".anonymous-comments-div").append(html)

              ///////// 동적으로 삽입한 form에 다시 event binding 해줌. 하나만 선택해야됨.
              html.find("form").submit( function(event) {

                var newform = $(this)

                event.preventDefault();
                $.ajax({
                  type: "POST",
                  url: newform.attr('action'),
                  data: newform.serialize(),
                  success: function(data) {
                    var newhtml =
                      `
                        <div class='reply'>
                        ㄴ
                          <img src='${data.imageurl}' 
                            alt='' style='height:20px; width:20px; 
                            border-radius:10px; margin-right: 2px;'>
                          <a href='${data.path}' class='username'>
                            ${data.username}
                          </a>
                          <span style='vertical-align: +6px;'>:
                            ${data.content}<br/>
                          </span>  
                        </div>
                      `
                    newform.parent().find(".comment-replies").append(newhtml);
                    newform.find(".prism-form__input").val('')
                  },
                  error: function(data) {
                    console.log("error")
                  }
                })
              })

            }
            else {
              var html =
              `
                <div class='reply'>
                ㄴ
                  <img src='${data.imageurl}' 
                    alt='' style='height:20px; width:20px; 
                    border-radius:10px; margin-right: 2px;'>
                  <a href='${data.path}' class='username'>
                    ${data.username}
                  </a>
                  <span style='vertical-align: +6px;'>:
                    ${data.content}<br/>
                  </span>  
                </div>
              `
              form.parent().find(".comment-replies").append(html)
            
            }
            form.find(".prism-form__input").val('')
          },
          error: function(data) {
              console.log("error")
          }
        })
    })

  })
</script>