<h1>오늘의 질문</h1>
<h3><%= @question.content %></h3>

<%= form_for @answer do |f| %>
    <%= f.hidden_field :author_id, :value => current_user.id %>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.text_field :content %>
    <%= f.submit "저장" %>
<% end %>

