<div class="inner-container">
    <div class = "question">
        <div class = "question-content"><%= @question.content %>
            <%= render 'drawer', a: @question, target_type: "Answer" %>
        </div>
    </div>
    <div class="feed-nav">
        <%= active_link_to '친구', '/questions/' + @question.id.to_s + '/friend'  %>
        <%= active_link_to '익명', '/questions/' + @question.id.to_s + '/general'%>
    </div>

    <%= render 'friend_feed_form', answers: @answers %>
</div>

<!--더보기는 지금 구현하는 건 아닌 듯-->
<%= render 'comment_script' %>
<%= render 'drawer_script' %>
<%= render 'layouts/timestamp' %>