<div class="inner-container">
    <div class = "prism-box">
        <div class = "prism-box_question">
            <br>
            <div style = "font-size: 20px; font-weight: bold;">
                <%= @question.content %>
                <%= render 'drawer', a: @question, target_type: "Question" %>
            </div>    
            <div classs = "question-author">    
                <% if @question.author.has_role? :newuser %>
                    <br><br>
                    Question made by 
                    <%= render partial: "./user_profile_small", locals: {user: @question.author} %>
                <% end %>
            </div>
        </div>
        <br>
    </div>

    <div class="feed-nav">
        <%= active_link_to '친구', '/questions/' + @question.id.to_s + '/friend'  %>
        <%= active_link_to '익명', '/questions/' + @question.id.to_s + '/general'%>
    </div>

    <%= render 'friend_feed_form', answers: @answers %>
</div>

<!--더보기는 지금 구현하는 건 아닌 듯-->
<%= render 'comment_script' %>
<%= render 'drawer_script' %>
<%= render 'layouts/timestamp' %>
<%= render 'questions/assignment_script'>
<%= render 'like_script' %>
<%= render 'delete_script' %>
<script>
  $(document).ready(function() {
    like_ajax($(".btn-answer-like"))
    like_ajax($(".btn-comment-like"))
    delete_ajax($(".btn-answer-delete"))
    delete_ajax($(".btn-comment-delete"))
  })
</script>
