<% @user = @answer.author %>
<% answer = @answer %>
<% anonymous = @anonymous%>
<div class="inner-container">
<div class="prism-box answer-feed <%=answer.id%>">

    <div class="prism-box__header">
        <% if anonymous %>
            <%= render partial: "./user_profile_general", locals: {user_id: answer.author_id, feed_id: answer.id} %>
        <% else %>
            <%= render partial: "./user_profile", locals: {user: answer.author} %>
            <% if current_user.id == answer.author.id %>
                <%= render 'feeds/delete_or_edit', feed: answer %>
            <% end %>
        <% end %>
        <br/>

    </div>
    <div class="prism-box__content">
        <br>
        <div class="prism-box-question">
            <%= link_to answer.question.content, question_path(answer.question.id), class: "question" %>
        </div>
        <div class="answer"><%= answer.content %></div>
        <div class = "date time"><%= time_tag answer.created_at, class: "timeago" %></div>
        <br>
    </div>
    <div class="prism-box__footer">
        <% if current_user.id == answer.author.id %>
            <%= render 'feeds/my_feed_footer', target: answer %>
        <% else %>
            <%= render 'feeds/feed_footer', target: answer %>
        <% end %>
    </div>
    <% if anonymous %>
        <%= render 'comments/general_form', feed: answer %>
    <%else %>
        <%= render 'comments/friends_form', feed: answer %>
    <% end %>
</div>

 <script>
  $('body').trigger('click');
</script> 