<% @user = @answer.author %>
<% answer = @answer %>
<% anonymous = @anonymous%>
<div class="inner-container">
<div class="prism-box">

    <div class="prism-box__header">
        <% if anonymous %>
            <%= render partial: "./user_profile_general", locals: {user_id: answer.author_id, feed_id: answer.id} %>
        <%else %>
            <%= render partial: "./user_profile", locals: {user: answer.author} %>
        <% end %>
        <br/>

    </div>
    <div class="prism-box__content">
        <br>
        <%= link_to answer.question.content, question_path(answer.question.id), class: "question" %>
        <div class="answer"><%= answer.content %></div>

        <div class = "date time"><%= time_tag answer.created_at, class: "timeago" %></div>
        <br>
    </div>
    <div class="prism-box__footer" style="padding-bottom: 10px;">
        <%= render 'feeds/my_feed', feed: answer %>
        <%= render 'likes/default', target: answer, target_type: "Answer", like_btn_class: "btn-feed-like" %>
        <%= render 'drawers/default', target: answer, target_type: "Answer"%>
        <br>
    </div>
    <div class="prism-box__comment">
        <% if anonymous %>
            <%= render 'comments/general_form', feed: answer %>
        <%else %>
            <%= render 'comments/friends_form', feed: answer %>
        <% end %>
    </div>
</div>

