<div class="inner-container">
<%= render partial: "./user_answers_layout", locals: {user: @user} %>
    <% if !@user.friends.include? current_user and @user.id != current_user.id %>
        <%= @user.username %>님과 친구가 되어보세요.
    <% else %>
    <% @answers.reverse_each do |answer| %>
        <div class="prism-box">
            <div class="prism-box__header">
                <%= render partial: "./user_profile", locals: {user: answer.author} %><br/>
                    <%# TODO: 공개범위 수정하는거 구현 %> 
                <%
=begin%>
 <!--
                <% if current_user.id == @user.id %>
                        <%= a.highlights.size %> 개의 형광펜
                        <%= Drawer.where(target_type: "Answer", target_id: a.id).size %> 명이 별표함
                        <%= a.comments.size %> 개의 댓글 <br/><br>
                <% end %>
                --> 
<%
=end%>
            </div>
            <div class="prism-box__content">
                <br>
                <a href="/questions/<%=answer.question.id%>" class="question"><%= answer.question.content %></a> <br><br>
                <div class="answer"><%= answer.content %></div>
                <br>
                <!--<%# 여기도. 이런 코드를 view에서 쓰는 게 맞는지 %>-->
                <%
=begin%>
                태그:
                <% if !a.tag_string.nil? %>
                    <%= a.tag_string.gsub("\r\n", "\n").split("\n") %>
                <% end %>-->
                <br> 
<%
=end%>
                <div class = "date"><%= answer.created_at.strftime("%Y년 %m월 %d일 %I : %M %p") %></div>
                <br>
            </div>
            <div class="prism-box__footer" style="padding-bottom: 10px;">
                <%= render 'authorized_answer', a: answer %>
                <%= render 'like', a: answer %>
                <%= render 'drawer', a: answer %>
                <br>
            </div>
            <%= render 'comment_form', user: @user, a: answer %>
        </div>
        <% end %>
    <% end %>
</div>
<%= render 'comment_script' %>
