<h1>User Answers Page</h1>
<%= render partial: "./user_answers_layout", locals: {user: @user} %>

<div>
    <% @answers.each do |a| %>
        <div style='border: 1px solid black; margin: 5px;'>
            <%= render partial: "./user_profile", locals: {user: a.author} %><br/>
            <% if current_user.id == @user.id %>
                <%= link_to "수정하기", edit_answer_path(a.id) %>
                <%= link_to "삭제하기", answer_path(a.id),
                                      method: :delete,
                                      data: { confirm: '답변을 지우시겠습니까?'} %> 
                <%#= link_to "숨기기", edit_answer_path(a.id) %> <br/>
            <% end %>
            <%= a.created_at %><br/>
            <%= a.question.content %> <br/>
            <%= a.content %><br/>
            <%# TODO:
            <%= link_to "별표하기", stars_path, method: :create%>
        </div>
    <% end %>
</div>
