    
<div class="prism-box-new-post">
    <div class="prism-box__content">
        <%= form_tag('/posts') do %>
            <div class = "posting-or-custom-question">포스팅  질문</div>
            <%= text_area_tag :content, nil, required: true, class: "new-answer-field",  placeholder: "나는 지금", autofocus: true, "data-enable-grammarly": "false" %>
            <!-- FIXME: answer쓰는 form에도 이거 넣어주기 -->

            <div class = "channels">
                <span>공개범위</span>
                <%= link_to image_tag("icons/setting-default-icon.png", class: "channel-setting-icon"), friends_path()%>
                <% current_user.channels.each do |channel| %>
                    <%= check_box_tag "c[]", channel.id, false, id: channel.id.to_s%>
                    <%= label_tag "#{channel.id}", channel.name %>
                <% end %>
            </div>
            <%= button_tag "저장", class: "answer-button"%>
        <% end %>
    </div>
</div> 

<%= render 'layouts/textarea_script' %>
