<div id = "new-post-form"> 
    <%= form_for post do |f| %>
        <%= f.hidden_field :author_id, :value => current_user.id %>
        <%= f.text_area :content, class: "new-answer-field", required: true, autofocus: true, placeholder: "나는 지금", "data-enable-grammarly": "false" %>
        <%= render partial: "channels/select_channels", locals: {article: post} %>
        <%= f.submit "저장", class: "answer-button"%>
    <% end %>
</div>

