<% @user = @post.author %>
<% post = @post %>
<% anonymous = @anonymous%>
<div class="inner-container">
<div class="prism-box post-feed <%= post.id%>">

    <div class="prism-box__header">
        <% if anonymous %>
            <%= render partial: "./user_profile_general", locals: {user_id: post.author_id, feed_id: post.id} %>
        <%else %>
            <%= render partial: "./user_profile", locals: {user: post.author} %>
            <% if current_user.id == post.author.id %>
                <%= render 'feeds/delete_or_edit', feed: post %>
            <% end %>
        <% end %>
        <br/>

    </div> 
    <div class="prism-box__content">
        <br>
        <div class="answer"><%= post.content %></div>

        <div class = "date time"><%= time_tag post.created_at, class: "timeago" %></div>
        <br>
    </div>
    <div class="prism-box__footer">
        <% if current_user.id == post.author.id %>
            <%= render 'feeds/my_feed_footer', target: post %>
        <% else %>
            <%= render 'feeds/feed_footer', target: post %>
        <% end %>
        <br>
    </div>
    <% if anonymous %>
        <%= render 'comments/general_form', feed: post %>
    <% else %>
        <%= render 'comments/friends_form', feed: post %>
    <% end %>
</div>

