
<div class="user-header prism-title">
    <%= link_to image_tag(@user.image.url, :style => "height:50px; width:50px; border-radius:15px; margin-right: 5px;"), user_answers_path(user.id) %><br>
    <%= link_to "#{@user.username}", user_answers_path(user.id), style: "vertical-align: +10px; color: black;" %><br>

    <% if current_user.id == user.id %>
        <%#= link_to "내 정보 수정하기", edit_user_profile_path(user.id) %> 
    <% end %>

    <!-- 이 부분 나중에 친구 리스트로 옮기고 싶다 -->
    <% if current_user.id != user.id %>
        <% if !user.friends.include? current_user %>
            <%# view에서 record에 접근하는 게 정상인가.. 이거 어떻게 .recieved_requests이런거 이용해서 안될까! %>
            <% if FriendRequest.where(requester_id: user.id, requestee_id: current_user.id).exists? %>
                <%= link_to "친구수락", add_friend_path(user.id), method: :post %>
            <% elsif FriendRequest.where(requester_id: current_user.id, requestee_id: user.id).exists? %>
                <%= link_to "친구요청 취소", friend_request_path(user.id), method: :post %>
            <% else %>
                <%= link_to "친구요청", friend_request_path(user.id), method: :post %>
            <% end %>
        <% else %>
            <%= link_to "친구 끊기", add_friend_path(user.id), method: :post %>
        <% end %>
    <% end %>
    
    <hr>
    <div class="user-header__tab">
        <%= link_to "답변", user_answers_path(user.id) %>
        <% if current_user.id == user.id %>
            <%= link_to "형광펜", user_highlights_path(user.id) %>
            <%= link_to "별", user_stars_path(user.id) %>
        <% end %>
    </div>
</div>