<% if c.author_id == answer_author.id %>
    <div class="comment-indent">
<% else %>
    <div class="comment">
<% end %>
        <div class = "comment-content">
            <span>
            <%= link_to image_tag(comment_author.image.url, :class => "user-profile"), user_answers_path(comment_author.id) %>
            <%= link_to comment_author.username, user_answers_path(comment_author.id), class: "username" %>
            <span class= "content"><%= c.content %> </span>
            </span>
            <%= render 'like', a: c, target_type: "Comment", like_btn_class: "btn-comment-like" %>

        </div>

        <div class = "comment-info">
            <span><%= time_tag c.created_at, class: "timeago" %></span>
            <span class = "comment-info-el">좋아요 <%= Like.where(target_type: "Comment", target_id: c.id).size %>개</span>
            <span> <%= render 'authorized_comment', c: c %></span>
        </div>
    </div>
