<script>var controller = new ScrollMagic.Controller();</script>

<%# <h1 class="intro-title">어도어 사용법</h1> %>
<div class="intro-container" style="white-space: pre-line;">
<div class="intro-tc"> 
    <div style="color: #F48462; font-size: 20px; text-align: center; line-height: 0;">목차</div>
    <div class="intro-tc-container"><a href="#friend" class="intro-tc-el tc-1">1. 친구 초대 / 검색</a>
        <a href="#friend-manage" class="intro-tc-el tc-2">2. 그룹 / 공개그룹 관리*</a>
        <a href="#assign" class="intro-tc-el tc-3">3. 질문 보내기</a>
        <a href="#custom_question" class="intro-tc-el tc-4">4. 질문 작성 / 리포스팅*</a>
        <a href="#comment" class="intro-tc-el tc-5">5. 댓글 / 귓속말*</a>
        <a href="#drawer" class="intro-tc-el tc-6">6. 서랍장에 글 담기</a>
        <a href="#like" class="intro-tc-el tc-7">7. 좋아요 / 좋아요 확인</a>
        <a href="#notification" class="intro-tc-el tc-8">8. 실시간 알림받기**</a>
        <%# <div style="color: #F48462; font-size: 15px; text-align: center; font-weight: bold;">핵심만 보기</div><a href="#accent-assign" class="intro-tc-el">핵심1</a>  <a href="#accent-comment" class="intro-tc-el">핵심2</a>  <a href="#accent-like" class="intro-tc-el">핵심3</a> %>
    </div>
</div>
<div id='friend'>
    <h4 class="intro-topic">친구를 만들어보세요!</h3>
    우측 상단의 프로필 사진(내 페이지) > 친구 관리 > 친구 초대하기 에서 친구에게 초대 링크를 보내보세요.
    <%= image_tag("img/friend_invite.png", class: "intro-img") %>
    <%= image_tag("img/invitation.png", class: "intro-img") %>
    친구가 초대 링크로 접속하면 회원가입을 하거나, 
    이미 로그인한 경우 당신에게 친구요청을 보낼 수 있어요.

    친구의 사용자명을 아는 경우, 검색창에 검색해서 친구요청을 보낼 수 있어요.

    <%= image_tag("img/search_user.png", class: "intro-img-small") %>
</div>
<hr>
<div id='friend-manage'>
    <h4 class="intro-topic">친구 그룹을 설정해 보세요!</h3>
    친구를 맺은 후, 친구 관리 탭에서 그룹을 설정해보세요.
    원하는 그룹을 추가하고,

    <%= image_tag("img/friends.png", class: "intro-img") %>
    그룹 편집 아이콘을 누르면 그룹 별로 친구들을 추가, 삭제할 수 있어요.

    <%= image_tag("img/friends2.png", class: "intro-img") %>
    <span class="intro-accent">글을 쓸 때 공개할 그룹을 선택할 수 있어요.</span>

    <%= image_tag("img/friends3.png", class: "intro-img") %>
    공개 그룹 중에 '나'만 선택하면 나에게만 글이 보여요.
    '익명피드'를 선택하면 익명 피드에 내 글이 익명으로 올라가요.

</div>
<hr>
<div id="assign">
    <h4 class="intro-topic">친구에게 질문을 보내보세요!</h4>
    <%= image_tag("img/assign_btn.png", class: "intro-img") %>

    '오늘의 질문' 또는 '질문 둘러보기' 탭에서 <span id="accent-assign" class="intro-accent">친구에게 질문을 보낼 수 있어요.</span>

    <%= image_tag("img/assign.png", class: "intro-img") %>
</div>
<hr>
<div id="custom_question">
    <h4 class="intro-topic">질문을 만들어서 올려보세요!</h4>
    메인 페이지에서 '질문' 탭을 눌러 
    <span class="intro-accent">친구 혹은 익명의 사용자들에게 하고 싶은 질문을 올려보세요.</span>

    <%= image_tag("img/custom_question.png", class: "intro-img") %>
    친구들이 댓글로 답을 달고, 
    <%= image_tag("img/custom_question_view.png", class: "intro-img") %>
    리포스팅 아이콘을 누르면
    <%= image_tag("img/click_repost.png", class: "intro-img") %>
    공유 메세지와 함께 질문을 공유할 수도 있어요.

    <%= image_tag("img/reposting.png", class: "intro-img") %>
    <%= image_tag("img/reposted.png", class: "intro-img") %>

</div>
<hr>
<div id="comment">
    <h4 class="intro-topic">댓글을 달아보세요!</h4>
    친구의 글에 댓글과 대댓글을 달며 소통해보세요.
    <%= image_tag("img/friend_comment.png", class: "intro-img") %>
    <span class="intro-accent" id="accent-comment">귓속말 설정을 하면 댓글이 글쓴이에게만 보여요. </span>

    <%= image_tag("img/secret_comment.png", class: "intro-img") %>

    <%#= image_tag("img/writer_view.png", class: "intro-img") %><div class="img-caption"></div>
    <%#= image_tag("img/user1_view.png", class: "intro-img-small img-side") %><%#= image_tag("img/user2_view.png", class: "intro-img-small img-side") %>
    '익명 피드' 탭에 들어가면 친구가 아닌 익명의 사람들의 글을 볼 수 있어요.
    댓글로 많은 사람과 소통해보세요.

    <%= image_tag("img/anonymous_view.png", class: "intro-img") %>
    익명의 사용자들이 색으로 구분되어 보이고,
    내가 쓴 댓글만 나에게 구분되어 보여요.

    내 글의 공개그룹에 '익명피드'를 포함시키면, 내 글이 친구가 아닌 사용자들의 익명피드에 보일 수 있어요. 
    <%= image_tag("img/anonymous_check.png", class: "intro-img") %>

</div>
<hr>
<div id="drawer">
    <h4 class="intro-topic">서랍장에 글을 담아보세요!</h4>
    기억하고 싶은 글은 서랍장 아이콘을 눌러 서랍장에 담아보세요.

    <%= image_tag("img/click_drawer.png", class: "intro-img") %>
    내 페이지에서 '서랍장'에 들어가면 담아둔 글을 모아 볼 수 있어요.

    <%= image_tag("img/my_drawer.png", class: "intro-img") %>
    글쓴이는 누가 자신의 글을 서랍장에 담았는지 알 수 없어요.

    <%= image_tag("img/drawer_noti.png", class: "intro-img-smallest") %>

</div>
<hr>
<div id="like">
    <h4 class="intro-topic">좋아요를 눌러보세요!</h4>
    친구의 글에 좋아요를 눌러보세요.
    <%= image_tag("img/click_like.png", class: "intro-img") %>

    <span class="intro-accent" id="accent-like">내 글의 좋아요와 서랍장 개수, 내 질문의 리포스팅 횟수는 나 자신만 볼 수 있어요.</span>

    내 글의 좋아요 개수를 누르면, 좋아요를 누른 친구들을 확인할 수 있어요.
    
    <%= image_tag("img/like_friends.png", class: "intro-img") %>

</div>
<hr><div id="notification">
    <h4 class="intro-topic">알림을 확인하세요!</h4>
    <%= image_tag("img/notification.png", class: "intro-img-smallest") %>
    
    Chrome 브라우저에서 알림을 실시간으로 확인하고 싶다면, 어도어 크롬 익스텐션을 설치해보세요!
    <%= link_to '어도어 크롬 익스텐션 바로가기', 'https://chrome.google.com/webstore/detail/adoor%EC%96%B4%EB%8F%84%EC%96%B4-notification-che/bcoklkbjihalcbbimebobnfpakbkcjdh/related?authuser=1', class: "intro-link"%>

    <%= image_tag("img/extension.png", class: "intro-img") %>


</div>
<hr>
<div style="color: grey;">
    어도어는 더 좋은 서비스가 되기 위해 노력하고 있어요.
    질문이나 오류 보고, 투자를 환영합니다.
    <%= link_to '이메일', 'mailto:adoor.team@gmail.com', class: "intro-link"%> &nbsp &nbsp<%= link_to '페이스북', 'https://www.facebook.com/adoor.team', class: "intro-link" %> &nbsp &nbsp<%= link_to '인스타그램', 'https://www.instagram.com/adoor.official',class: "intro-link" %>
</div>
</div>

<script>
$(document).ready(function() {
    var controller = new ScrollMagic.Controller();
    var scene1 = new ScrollMagic.Scene({
        triggerElement: '#friend',
        triggerHook: "onCenter",
        duration: $("#friend").height()
    })
    .setClassToggle('.tc-1','intro-change-color');

    var scene2 = new ScrollMagic.Scene({
        triggerElement: '#friend-manage',
        triggerHook: "onCenter",
        duration: $("#friend-manage").height()
    })
    .setClassToggle('.tc-2','intro-change-color');

    var scene3 = new ScrollMagic.Scene({
        triggerElement: '#assign',
        triggerHook: "onCenter",
        duration: $("#assign").height()
    })
    .setClassToggle('.tc-3','intro-change-color')

    var scene4 = new ScrollMagic.Scene({
        triggerElement: '#custom_question',
        triggerHook: "onCenter",
        duration: $("#custom_question").height()
    })
    .setClassToggle('.tc-4','intro-change-color')

    var scene5 = new ScrollMagic.Scene({
        triggerElement: '#comment',
        triggerHook: "onCenter",
        duration: $("#comment").height()
    })
    .setClassToggle('.tc-5','intro-change-color')

    var scene6 = new ScrollMagic.Scene({
        triggerElement: '#drawer'  ,
        triggerHook: "onCenter"   ,
        duration: $("#drawer").height()    
    })
    .setClassToggle('.tc-6','intro-change-color')

    var scene7 = new ScrollMagic.Scene({
        triggerElement: '#like'  ,
        triggerHook: "onCenter"   ,
        duration: $("#like").height()    
    })
    .setClassToggle('.tc-7','intro-change-color')

    var scene8 = new ScrollMagic.Scene({
        triggerElement: '#notification'  ,
        triggerHook: "onCenter"   ,
        duration: $("#notification").height()    
    })
    .setClassToggle('.tc-8','intro-change-color')

    controller.addScene([scene1, scene2, scene3, scene4, scene5, scene6, scene7, scene8]);

})
// $('a').click(function(e) {
//     e.preventDefault();
// });
// $(document).ready(function() {
//     console.log(document.getElementById('comment').scrollTop)
//     console.log(document.getElementById('drawer').scrollTop)
//     console.log($("#drawer").scrollTop())
//     console.log($("#like").scrollTop())
//     console.log($("#notification").scrollTop())
//     $(window).scroll(function () {
//         if ($(this).scrollTop() > document.getElementById('comment').scrollTop) {
//             $(".tc-2").addClass(".intro-change-color")
//         }
//         if ($(this).scrollTop() < $("#comment").scrollTop()) {
//             $(".tc-2").removeClass(".intro-change-color")
//         }
//     });
// });
</script> 