<script>var controller = new ScrollMagic.Controller();</script>

<%# <h1 class="intro-title">어도어 사용법</h1> %>
<div class="intro-container" style="white-space: pre-line;">
    <div class="intro-tc"> 
        <div class="intro-tc-container">
            <div id="intro-tc-title">목차</div>
            <a href="#friend" class="intro-tc-el tc-1">1. 친구 초대 / 검색</a>
            <a href="#friend-manage" class="intro-tc-el tc-2">2. 그룹 / 공개그룹 관리*</a>
            <a href="#assign" class="intro-tc-el tc-3">3. 질문 보내기</a>
            <a href="#custom_question" class="intro-tc-el tc-4">4. 질문 작성 / 리포스팅*</a>
            <a href="#comment" class="intro-tc-el tc-5">5. 댓글 / 귓속말*</a>
            <a href="#drawer" class="intro-tc-el tc-6">6. 서랍장에 글 담기</a>
            <a href="#like" class="intro-tc-el tc-7">7. 좋아요 / 좋아요 확인</a>
            <a href="#notification" class="intro-tc-el tc-8">8. 실시간 알림받기**</a>
            <%# <div style="color: #F48462; font-size: 15px; text-align: center; font-weight: bold;">핵심만 보기</div><a href="#accent-assign" class="intro-tc-el">핵심1</a>  <a href="#accent-comment" class="intro-tc-el">핵심2</a>  <a href="#accent-like" class="intro-tc-el">핵심3</a> %>
        </div>
    </div>
    <div id='friend'>
        <div class="intro-topic">친구를 만들어보세요!</div>
        <div class="intro-content">
            <%= link_to '내 페이지 > 친구 관리', 'https://adoor.app/users/friends', class: "intro-link hover-orange"%>에서 <span class="intro-link">친구 초대하기</span>를 클릭해
            <span class="intro-accent">친구에게 <%= link_to '초대장', 'https://adoor.app/invitations', class: "intro-link hover-orange"%>을 보내보세요.</span>
            <%#= image_tag("img/friend_invite.png", class: "intro-img") %>
            <%#= image_tag("img/invitation.png", class: "intro-img") %>
            <br>
            친구의 사용자명을 아는 경우, 우측 상단의 <span class="intro-link">검색창</span>에 검색해 보세요.
        </div>
            <%= image_tag("img/search_user.png", class: "intro-img-small") %>
    </div>
    <hr>
    <div id='friend-manage'>
        <div class="intro-topic">친구 그룹을 설정해 보세요!</div>
        <div class="intro-content">
            <%= link_to '내 페이지 > 친구 관리', 'https://adoor.app/users/friends', class: "intro-link hover-orange"%>에서 그룹을 설정해보세요.
            원하는 그룹을 추가하고,
        </div>
            <%= image_tag("img/friends.png", class: "intro-img") %>
        <div class="intro-content">
            <span class="intro-link">그룹 편집 아이콘</span>을 클릭하면 그룹 별로 친구들을 추가, 삭제할 수 있어요.
        </div>
        <%= image_tag("img/friends2.png", class: "intro-img") %>
        <div class="intro-content">
            <span class="intro-accent">글을 쓸 때 공개할 그룹을 선택할 수 있어요.</span>    
        </div>
        <%= image_tag("img/friends3.png", class: "intro-img") %>
        <div class="intro-content">
            공개 그룹 중에 '나'만 선택하면 나에게만 글이 보이고,
            '익명피드'를 선택하면 익명 피드에 내 글이 <span class="intro-accent">익명으로 올라가요.</span>
        </div>

    </div>
    <hr>
    <div id="assign">
        <div class="intro-topic">친구에게 질문을 보내보세요!</div>
        <div class="intro-content">
            <%= link_to '오늘의 질문', 'https://adoor.app/questions/today', class: "intro-link hover-orange"%> 또는 <%= link_to '질문 둘러보기', 'https://adoor.app/questions', class: "intro-link hover-orange"%> 탭에서 
            <span class="intro-link">종이비행기 아이콘</span>을 클릭하면, <span class="intro-accent">친구에게 질문을 보낼 수 있어요.</span>
        </div>
        <%= image_tag("img/assign_btn.png", class: "intro-img") %>  
        <%= image_tag("img/assign.png", class: "intro-img") %>
    </div>
    <hr>
    <div id="custom_question">
        <div class="intro-topic">나만의 질문을 만들어 보세요!</div>
        <div class="intro-content">
            <%= link_to '메인 페이지', 'https://adoor.app', class: "intro-link hover-orange"%>에서 <span class="intro-link">'질문'</span> 탭을 눌러 
            <span class="intro-accent">친구 혹은 익명의 사용자들에게 하고 싶은 질문을 올려보세요.</span>
        </div>
        <%= image_tag("img/custom_question.png", class: "intro-img") %>
        <div class="intro-content">
            친구들이 <span class="intro-link">댓글</span>로 답을 달 수도 있고, 
        </div>
        <%= image_tag("img/custom_question_view.png", class: "intro-img") %>
        <div class="intro-content">
            <span class="intro-link">공유 아이콘</span>을 클릭하면
        </div>
        <%= image_tag("img/click_repost.png", class: "intro-img") %>
        <div class="intro-content">
            <span class="intro-link">공유 메세지</span>와 함께 질문을 공유할 수도 있어요.
        </div>
        <%= image_tag("img/reposting.png", class: "intro-img") %>
        <%= image_tag("img/reposted.png", class: "intro-img") %>

        <div class="intro-content">
            질문이 <span class="intro-link">공유된 횟수</span>는 <span class="intro-accent">처음 질문을 올린 글쓴이만</span> 볼 수 있어요.
        </div>

    </div>
    <hr>
    <div id="comment">
        <div class="intro-topic">댓글을 달아보세요!</div>
        <div class="intro-content">
            친구의 글에 <span class="intro-link">댓글</span>과 <span class="intro-link">대댓글</span>을 달며 소통해보세요.
        </div>
        <%= image_tag("img/friend_comment.png", class: "intro-img") %>
        <div class="intro-content">
            <span class="intro-link">귓속말 설정</span>을 하면 <span class="intro-accent">댓글이 글쓴이에게만 보여요. </span>
        </div>
        <%= image_tag("img/secret_comment.png", class: "intro-img") %>
        <%#= image_tag("img/writer_view.png", class: "intro-img") %>
        <%#= image_tag("img/user1_view.png", class: "intro-img-small img-side") %><%#= image_tag("img/user2_view.png", class: "intro-img-small img-side") %>
        <div class="intro-content">
            <%= link_to '익명피드', 'https://adoor.app/feeds/general', class: "intro-link hover-orange"%>탭에 들어가면 <span class="intro-accent">친구가 아닌 익명의 글을 볼 수 있어요.</span>
            댓글로 많은 사람과 소통해보세요.

            익명의 사용자들이 색으로 구분되어 보이고,
            댓글을 남길 경우, 나에게만 나의 프로필이 보여요.
        </div>
        <%= image_tag("img/anonymous_view.png", class: "intro-img") %>
        <div class="intro-content">
            내 글의 공개그룹에 '익명피드'를 포함시키면, 
            내 글이 <span class="intro-accent">친구가 아닌 사람들에게만</span> 익명으로 보여져요. 
        </div>
        <%= image_tag("img/anonymous_check.png", class: "intro-img") %>

    </div>
    <hr>
    <div id="drawer">
        <div class="intro-topic">서랍장에 글을 담아보세요!</div>
        <div class="intro-content">
            기억하고 싶은 글은 <span class="intro-link">서랍장 아이콘</span>을 눌러 서랍장에 담아보세요.
        </div>
        <%= image_tag("img/click_drawer.png", class: "intro-img") %>
        <div class="intro-content">
            <span class="intro-link">내 페이지 > 서랍장</span>에 들어가면 담아둔 글을 모아볼 수 있어요.
        </div>
        <%= image_tag("img/my_drawer.png", class: "intro-img") %>
        <div class="intro-content">
            글쓴이는 누가 자신의 글을 서랍장에 담았는지 알 수 없고,
        </div>
        <%= image_tag("img/drawer_noti.png", class: "intro-img-smallest") %>
        <div class="intro-content">
            내 글이 <span class="intro-link">서랍장에 담긴 횟수</span>는 나 자신만 볼 수 있어요.
        </div>
    </div>
    <hr>
    <div id="like">
        <div class="intro-topic">좋아요를 눌러보세요!</div>
        <div class="intro-content">
            친구의 글에 <span class="intro-link">좋아요</span>를 눌러보세요.
        </div>
        <%= image_tag("img/click_like.png", class: "intro-img") %>
        <div class="intro-content">
            내 글의 <span class="intro-link">좋아요 갯수</span>는 <span class="intro-accent" id="accent-like">나 자신만 볼 수 있어요.</span>
            내 글의 <span class="intro-link">좋아요 개수</span>를 클릭하면, 좋아요를 누른 친구들을 확인할 수 있어요.
        </div>
        <%= image_tag("img/like_friends.png", class: "intro-img") %>

    </div>
    <hr>
    <div id="notification">
        <div class="intro-topic">실시간으로 알림을 확인하세요!</div>
        <%#= image_tag("img/notification.png", class: "intro-img-smallest") %>
        <div class="intro-content">
            Chrome 브라우저에서 알림을 <span class="intro-link">실시간으로 확인하고 싶다면,</span> 
            <span class="intro-accent"> <%= link_to '어도어 크롬 익스텐션', 'https://chrome.google.com/webstore/detail/adoor%EC%96%B4%EB%8F%84%EC%96%B4-notification-che/bcoklkbjihalcbbimebobnfpakbkcjdh/related?authuser=1', class: "intro-link hover-orange"%>을 설치해보세요!</span>
        </div>
        <%#= image_tag("img/extension.png", class: "intro-img") %>
    </div>
    <hr>
    <div class="intro-ending-message">
        어도어는 더 좋은 서비스가 되기 위해 노력하고 있어요.
        질문이나 오류 보고, 투자를 환영합니다.
    </div>
        <%= link_to '이메일', 'mailto:adoor.team@gmail.com', class: "contact-link"%> &nbsp &nbsp<%= link_to '페이스북', 'https://www.facebook.com/adoor.team', class: "contact-link" %> &nbsp &nbsp<%= link_to '인스타그램', 'https://www.instagram.com/adoor.official',class: "contact-link" %>
    </div>

    <br><br><br>
    <footer class="page-footer font-small blue fixed-bottom">
      <div class="footer-copyright text-center py-3">
        <a href='' data-toggle="modal" data-target=".bd-example-modal-lg" class="recover-link">
          개인정보처리방침
        </a>
      </div><br/>
    </footer>
    <%= render 'layouts/privacy_agreement' %>   
</div> 

<script>
$(document).ready(function() {
    var controller = new ScrollMagic.Controller();
    var scene1 = new ScrollMagic.Scene({
        triggerElement: '#friend',
        triggerHook: "onCenter",
        duration: $("#friend").height()
    })
    .setClassToggle('.tc-1','intro-change-color');

    var scene2 = new ScrollMagic.Scene({
        triggerElement: '#friend-manage',
        triggerHook: "onCenter",
        duration: $("#friend-manage").height()
    })
    .setClassToggle('.tc-2','intro-change-color');

    var scene3 = new ScrollMagic.Scene({
        triggerElement: '#assign',
        triggerHook: "onCenter",
        duration: $("#assign").height()
    })
    .setClassToggle('.tc-3','intro-change-color')

    var scene4 = new ScrollMagic.Scene({
        triggerElement: '#custom_question',
        triggerHook: "onCenter",
        duration: $("#custom_question").height()
    })
    .setClassToggle('.tc-4','intro-change-color')

    var scene5 = new ScrollMagic.Scene({
        triggerElement: '#comment',
        triggerHook: "onCenter",
        duration: $("#comment").height()
    })
    .setClassToggle('.tc-5','intro-change-color')

    var scene6 = new ScrollMagic.Scene({
        triggerElement: '#drawer'  ,
        triggerHook: "onCenter"   ,
        duration: $("#drawer").height()    
    })
    .setClassToggle('.tc-6','intro-change-color')

    var scene7 = new ScrollMagic.Scene({
        triggerElement: '#like'  ,
        triggerHook: "onCenter"   ,
        duration: $("#like").height()    
    })
    .setClassToggle('.tc-7','intro-change-color')

    var scene8 = new ScrollMagic.Scene({
        triggerElement: '#notification'  ,
        triggerHook: "onCenter"   ,
        duration: $("#notification").height()    
    })
    .setClassToggle('.tc-8','intro-change-color')

    controller.addScene([scene1, scene2, scene3, scene4, scene5, scene6, scene7, scene8]);

})
// $('a').click(function(e) {
//     e.preventDefault();
// });
// $(document).ready(function() {
//     console.log(document.getElementById('comment').scrollTop)
//     console.log(document.getElementById('drawer').scrollTop)
//     console.log($("#drawer").scrollTop())
//     console.log($("#like").scrollTop())
//     console.log($("#notification").scrollTop())
//     $(window).scroll(function () {
//         if ($(this).scrollTop() > document.getElementById('comment').scrollTop) {
//             $(".tc-2").addClass(".intro-change-color")
//         }
//         if ($(this).scrollTop() < $("#comment").scrollTop()) {
//             $(".tc-2").removeClass(".intro-change-color")
//         }
//     });
// });
</script> 