<div class="adoor-header">
    <%= link_to image_tag("logo/final-long-logo.png", class:"logo"), root_path %>
    
        <div class = "nav-left">
            <%= active_link_to '오늘의 질문', today_questions_path, class: "nav-el" %>
            <%= active_link_to '질문 둘러보기', questions_path, class: "nav-el", active: :exclusive %>
            <%= active_link_to '익명 피드', general_feed_path, class: "nav-el" %>
            <%#= active_link_to '친구 초대', invitation_path, class: "nav-el" %>
            <%= active_link_to '도움말', introduction_path, class: "nav-el"%>
            <% if user_signed_in? && (current_user.has_role? :admin) %>
                <%= active_link_to '공지 관리', announcement_admin_index_path, class: "nav-el"%>
            <% end %>
        </div>

        <div class = "nav-right">
            <% if user_signed_in? %>
            <%= render 'layouts/searchbar' %>
            <%= link_to '로그아웃', destroy_user_session_path, 
                    method: :delete, class: "nav-el" %>
            <%= link_to image_tag(current_user.image.url), profile_path(current_user.id), class: "my-page-btn" %> 
            <%= render 'layouts/notification', noties: noties %>
                
            <% else %>
        </div>
        <div class = "nav-right-login">
            <%= link_to '로그인', user_session_path, class: "log-in" %>
            <% end %>
        </div>

    
</div>
