<nav class="navbar navbar-expand-lg navbar-dark bg-orange">
  <a class="navbar-brand" href= "<%= root_path %>">
    <%= image_tag("logo/light-version-logo.png") %>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <%= active_link_to '오늘의 질문', today_questions_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= active_link_to '질문 둘러보기', questions_path, class: "nav-link", active: :exclusive %>
    </li>
    <li class="nav-item">
        <%= active_link_to '익명 피드', general_feed_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= active_link_to '도움말', introduction_path, class: "nav-link"%>
    </li>
    <% if user_signed_in? && (current_user.has_role? :admin) %>
        <li class="nav-item">
            <%= active_link_to '공지 관리', announcement_admin_index_path, class: "nav-link"%>
        </li>
    <% end %>
    <% if user_signed_in? %>
        <li class="nav-item logout-toggle">
            <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
    <% end %>
    </ul>
  </div>
  <div class ="mr-auto-custom">
    <% if user_signed_in? %>
        <%= render 'layouts/searchbar' %>
        <div class="nav-item logout"><a class="nav-link logout" href="<%=destroy_user_session_path%>" data-method = "delete">로그아웃</a></div>
        <a class="my-page-btn" href="<%=profile_path(current_user.id)%>">
            <%= image_tag(current_user.image.url) %>
        </a>
        <%= render 'layouts/notification' %>
    <% else %>
        <a class="nav-link" style="color: #F48462;" href="<%=user_session_path%>">로그인</a>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<script>
    $(document).on('turbolinks:load', function()  {
        $(".nav-item").on('click', function() {
            console.log("nav item click")
            if (!$(this).hasClass(".navbar-active")) {
                $(this).addClass(".navbar-active");
            }    
        })
    })
</script>