<div class="sidenav" align="center">
      <button class="btn-exit">X</button>
      <% if user_signed_in? %>
            <p class="nav-el nav-profile">
            <%= link_to image_tag(current_user.image.url, :style => "height:60px; width:60px; border-radius:30px;"), show_mypage_path %>
            <%= link_to current_user.username, show_mypage_path %>
            </p>
            <%= link_to 'Log out', 
                  destroy_user_session_path, 
                  method: :delete, 
                  class: "nav-el nav-log" %>
      <% end %>
      <% if !user_signed_in? %>
            <%= link_to 'Log In', user_session_path, class: "nav-el nav-log" %>
      <% end %>
      <br>
      <br>
      <br>
      <%= link_to '오늘의 질문', root_path, class: "nav-el" %>
      <% if user_signed_in? %>
            <%= link_to '마이페이지', "/userpage/#{current_user.id}", class: "nav-el" %>
      <% else %>
            <%= link_to '마이페이지', user_session_path, class: "nav-el" %>
      <% end %>
      <%= link_to '친구목록', '/users/friends', class: "nav-el" %>
      <%= link_to '익명피드', '/feeds', class: "nav-el" %>
      <%= link_to '친구피드', '/friend_feeds', class: "nav-el" %>
      <%= link_to '질문 둘러보기', '/questions', class: "nav-el" %>
      <%= link_to '친구 초대하기', '/invitation', class: "nav-el" %>

</div>


<script>
    $(document).ready(function() {

      $("html").on('click', function(event) {
            var target = $(event.target)
            if(!target.hasClass("btn-sidenav") &&
             !target.hasClass("sidenav") &&
             !target.hasClass("nav-el") ) {
                  $(".sidenav").removeClass('active');
            }
      })

      $(".btn-sidenav").on('click', function() {
            $(".sidenav").addClass('active');
      });

      $(".btn-exit").on('click', function() {
            $(".sidenav").removeClass('active');
      });


    });  
</script>