<i class="material-icons btn-sidenav">menu</i>
<div class="sidenav" align="center">
      <i class="material-icons btn-exit">highlight_off</i>
      <% if user_signed_in? %>
      <p class="nav-el nav-profile"><%= link_to "#{current_user.username}", '/mypage' %></p>
      <%= link_to 'Log out', 
            destroy_user_session_path, 
            method: :delete, 
            class: "nav-el nav-log" %>
      <% end %>
      <% if !user_signed_in? %>
      <%= link_to 'Log In', user_session_path, class: "nav-el nav-log" %>
      <% end %>
      <br>
      <br>
      <br>
      <%= link_to '오늘의 질문', root_path, class: "nav-el" %>
      <% if user_signed_in? %>
<<<<<<< HEAD
<<<<<<< HEAD
           <%= link_to '마이페이지', "/userpage/#{current_user.id}", class: "nav-el" %>
=======
            <%= link_to '마이페이지', "/userpage/#{current_user.id}", class: "nav-el" %>
>>>>>>> 85cb4961f309bfe02a46802614682026294de58a
=======
            <%= link_to '마이페이지', "/userpage/#{current_user.id}", class: "nav-el" %>
>>>>>>> db10ed48bbf9d5675afe5c5cf4239c0c0bcee7d1
      <% else %>
            <%= link_to '마이페이지', user_session_path, class: "nav-el" %>
      <% end %>
      <%= link_to '친구목록', '/users/friends', class: "nav-el" %>
      <%= link_to '익명피드', '/feeds', class: "nav-el" %>
      <%= link_to '질문별피드', '/questions', class: "nav-el" %>

</div>


<script>
    $(document).ready(function() {

      $("html").on('click', function(event) {
            var target = $(event.target)
            if(!target.hasClass("btn-sidenav") &&
             !target.hasClass("sidenav") &&
             !target.hasClass("nav-el") ) {
                  $(".sidenav").removeClass('active');
            }
      })

      $(".btn-sidenav").on('click', function() {
            $(".sidenav").addClass('active');
      });

      $(".btn-exit").on('click', function() {
            $(".sidenav").removeClass('active');
      });


    });  
</script>