<% if user_signed_in? %>
    <%=image_tag "icons/noti-default-icon.png", class:"btn-noti"%>
<% end %>
<div class="noti-content" style="display: none;">
    <% if user_signed_in? %>
        <% noties.reverse_each do |noti| %>
            <% user = User.find(noti.actor_id)%>
            <% username = user.username %>
            <% if noti.read_at != nil %>
                <div class="noti-el" onclick="window.location='/notifications/<%=noti.id%>'">
            <% else %>
                <div class="noti-el unread" onclick="window.location='/notifications/<%=noti.id%>'">
            <% end %>
                <% if noti.target_type == 'Friendship' %>
                    <%=username%>님과 친구가 되었습니다.
                <% elsif noti.target_type == 'Answer' %>
                    <%=username%>님의 선물이 도착했습니다.
                <% elsif noti.target_type == 'Assignment' %>
                    <%=username%>님이 회원님에게 새로운 질문을 assign했습니다.
                <% elsif noti.target_type == 'Highlight' %>
                    <%=username%>님이 회원님의 글을 highlight했습니다.
                <% elsif noti.target_type == 'Star' %>
                    <%=username%>님이 회원님의 글을 star했습니다.
                <% elsif noti.target_type == 'Comment' %>
                    <%=username%>님이 회원님의 답변에 댓글을 달았습니다.
                <% elsif noti.target_type == 'FriendRequest'%>
                    <%=username%>님이 친구신청을 보냈습니다.
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>

<script>
    $(document).ready(function() {
        $(".btn-noti").on('click', function() {
            $(".noti-content").toggle();
        })

        $("html").on('click', function(event) {
            var target = $(event.target)
            if(!target.hasClass("btn-noti") &&
            !target.hasClass("noti-content") &&
            !target.hasClass("noti-el")) {
                $(".noti-content").hide();
            }
        });
    })
</script>
