<% if user_signed_in? %>
    <i class="material-icons btn-noti">notifications</i>
<% end %>
<div class="noti-content" style="display: none;">
    <% if user_signed_in? %>
        <% noties.each do |noti| %>
            <% user = User.find(noti.actor_id)%>
            <% username = user.username %>
            <% if noti.target_type == 'Friendship' %>
                <!-- to friend user page -->
                <div class="noti-el" onclick="window.location='/userpage/<%=user.id%>';"><%=username%>님과 친구가 되었습니다.</div>
            <% end %>
            <% if noti.target_type == 'Answer' %>
                <!-- to answer detail page -->
                <div class="noti-el" onclick="window.location='/answers/<%=noti.target_id%>';"><%=username%>님의 선물이 도착했습니다.</div>
            <% end %>
            <% if noti.target_type == 'Assignment' %>
                <!-- to new answer page -->
                <div class="noti-el" onclick="window.location=<%=new_answer_path%>"><%=username%>님이 회원님에게 새로운 질문을 assign했습니다.</div>
            <% end %>
            <% if noti.target_type == 'Highlight' %>
                <!-- answer detail page -->
                <div class="noti-el" onclick="window.location='/answers/<%=noti.target_id%>'"><%=username%>님이 회원님의 글을 highlight했습니다.</div>
            <% end %>
            <% if noti.target_type == 'Star' %>
                <!-- answer detail page -->
                <div class="noti-el" onclick="window.location='/answers/<%=noti.target_id%>'"><%=username%>님이 회원님의 글을 star했습니다.</div>
            <% end %>
            <% if noti.target_type == 'Comment' %>
                <!-- answer detail page -->
                <div class="noti-el" onclick="window.location='/answers/<%=noti.target_id%>'"><%=username%>님이 회원님의 답변에 댓글을 달았습니다.</div>
            <% end %>
        <% end %>
    <% end %>
</div>
