<% if user_signed_in? %>
    <% if noties.unread.length != 0 %>
        <%=image_tag "icons/noti-on-icon.png", class:"btn-noti"%>
    <% else %>
        <%=image_tag "icons/noti-default-icon.png", class:"btn-noti"%>
    <% end %>
<% end %>
<div class="noti-content" style="display: none;">
    <% if user_signed_in? %>
        <% noties.reverse_each do |noti| %>
            <% user = User.find(noti.actor_id)%>
            <% username = user.username %>

            <% if noti.read_at != nil %>
                <div class="noti-el" onclick="window.location='/notifications/<%=noti.id%>'">
            <% else %>
                <div class="noti-el unread" onclick="window.location='/notifications/<%=noti.id%>'">
            <% end %>
                <% if noti.target_type == 'Friendship' %>
                    <%=username%>님과 친구가 되었습니다.
                <% elsif noti.target_type == 'Answer' %>
                    <%=username%>님이 질문을 요청했습니다.
                <% elsif noti.target_type == 'Assignment' %>
                    <%=username%>님으로부터 새로운 질문이 도착했습니다.
                <% elsif noti.target_type == 'Highlight' %>
                    <%=username%>님이 회원님의 글을 highlight했습니다.
                <% elsif noti.target_type == 'Star' %>
                    회원님의 글이 누군가의 서랍장에 담겼습니다.
                <% elsif noti.target_type == 'Comment' %>
                    <% if noti.action == 'comment' %>
                        <%=username%>님이 회원님의 답변에 댓글을 달았습니다.
                    <% elsif noti.action == 'recomment'%>
                        <%=username%>님이 회원님의 댓글에 대댓글을 달았습니다.
                    <% end %>
                <% elsif noti.target_type == 'FriendRequest'%>
                    <%=username%>님이 친구요청을 보냈습니다.
                <% end %>
            </div> 
        <% end %>
    <% end %>
</div>

<script>
    $(document).ready(function() {
        $(".btn-noti").on('click', function() {
            $(".noti-content").toggle();
        })

        $("html").on('click', function(event) {
            var target = $(event.target)
            if(!target.hasClass("btn-noti") &&
            !target.hasClass("noti-content") &&
            !target.hasClass("noti-el")) {
                $(".noti-content").hide();
            }
        });
    })
</script>
