<!DOCTYPE html>
<html>
  <head>
    <title>PRISM</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Noto+Sans+KR" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo|Noto+Sans+KR" rel="stylesheet">
    <link href=“https://fonts.googleapis.com/css?family=Merriweather” rel=“stylesheet”>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- TODO: header and noti -->
<<<<<<< HEAD
    <div class="prism-header">
      <%= render 'layouts/navigation'%>
      <%= link_to image_tag("logo/prism-logo.png", class:"logo"), root_path %>
      <%= render 'layouts/notification', noties: noties %>
      <div class="login-btn">
        <% if user_signed_in? %>
        <%= link_to 'Log out', 
              destroy_user_session_path, 
              method: :delete, 
              class: "topnav-log" %>
        <% else %>
        <%= link_to 'Log In', user_session_path, class: "topnav-log" %>
        <% end %>
      </div>
    </div>
    <div class="prism-container">
=======
    <% if current_page?(controller: 'questions', action: 'intro') || current_page?(controller: 'sessions', action: 'new') %> <!-- 인트로 페이지일 때만 헤더, 컨테이너가 안 보이게 함 -->
>>>>>>> 3efdd53cb3e45fca8a6e0123495453a589a42f37
      <%= yield %>
    <% else %>
      <div class="prism-header">
        <%= render 'layouts/navigation'%>
        <%=image_tag "logo/prism-logo.png", class:"logo"%>
        <%= render 'layouts/notification', noties: noties %>
        <div class="login-btn">
          <% if user_signed_in? %>
          <%= link_to 'Log out', 
                destroy_user_session_path, 
                method: :delete, 
                class: "topnav-log" %>
          <% else %>
          <%= link_to 'Log In', user_session_path, class: "topnav-log" %>
          <% end %>
        </div>
      </div>
      <div class="prism-container">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
