<!DOCTYPE html>
<html>
  <head>
    <title>adoor</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Noto+Sans+KR" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo|Noto+Sans+KR" rel="stylesheet">
    <link href=“https://fonts.googleapis.com/css?family=Merriweather” rel=“stylesheet”>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="adoor-header">
      <%= link_to image_tag("logo/final-long-logo.png", class:"logo"), root_path %>
      <div class = "nav">
        <div class = "nav-left">
          <%= link_to 'Today Questions', root_path, class: "nav-el" %>
          <%= link_to 'General Feed', '/feeds', class: "nav-el" %>
          <%= link_to 'Question Feed', '/questions', class: "nav-el" %>
          <%= link_to 'Friend Feed', '/friend_feeds', class: "nav-el" %>
          <%= link_to 'Friend List', '/users/friends', class: "nav-el" %>
        </div>

        <div class = "nav-right">
          <% if user_signed_in? %>
            <%= link_to 'Log out', destroy_user_session_path, 
                  method: :delete, class: "nav-el" %>
            <%= link_to 'My page', "/userpage/#{current_user.id}", class: "nav-el" %>
          <% else %>
            <%= link_to 'Log In', user_session_path, class: "nav-el, log-in" %>
          <% end %>
          <%= render 'layouts/notification', noties: noties %>
        </div>
      </div>
    </div>
    <div class="prism-container">
    <%= yield %>
    </div>
  </body>
  </html>