<!DOCTYPE html>
<html>
  <head>
    <title>adoor</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="shortcut icon" href="<%= asset_path("logo/favicon-16x16.png") %>">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Noto+Sans+KR" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo|Noto+Sans+KR" rel="stylesheet">
    <link href=“https://fonts.googleapis.com/css?family=Merriweather” rel=“stylesheet”>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'true', 'data-turbolinks-eval': "false" %>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>


    <%= javascript_include_tag('jquery.timeago.js') %>
    <%= javascript_include_tag('jquery.jeditable.js') %>
    <%= javascript_include_tag('drawer_script.js') %>
    <%= javascript_include_tag('friends_script.js') %>
    <%= javascript_include_tag('general_script.js') %>
    <%= javascript_include_tag('like_script.js') %>
    <%= javascript_include_tag('delete_script.js') %>
    <%= javascript_include_tag('assign_script.js') %>
    <%= javascript_include_tag('timestamp.js') %>
    <%= javascript_include_tag('textarea.js') %>
    <%= javascript_include_tag('posting_channels_script.js') %>
    <%= javascript_include_tag('edit_modal.js') %>
    <%= javascript_include_tag('write_modal.js') %>
    <%= javascript_include_tag('channel_dropdown.js') %>
    <%= javascript_include_tag('comments_nav.js') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.2/ScrollMagic.min.js"></script>
    <!-- integrity, crossorigin 이런거 해야하는건감 -->
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div id="prism-container">
    <%= yield %>
    </div>
    <div id='edit-background'>
      <button id='btn-edit-exit'>X</button>
      <div id='edit-box'>
      </div>
    </div>
  </body>
  </html>

  <%= render 'layouts/button_script' %>
