<!DOCTYPE html>
<html>
  <head>
    <title>PRISM</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- TODO: header and noti -->
    <div class="prism-header">
      <%= render 'layouts/navigation'%>
        <% if user_signed_in? %>
        <%= link_to 'Log out', 
              destroy_user_session_path, 
              method: :delete, 
              class: "nav-el nav-log" %>
        <% end %>
        <% if !user_signed_in? %>
        <%= link_to 'Log In', user_session_path, class: "nav-el nav-log" %>
        <% end %>
      <%= render 'layouts/notification', noties: noties %>
    </div>
    <div class="prism-container">
      <%= yield %>
    </div>
  </body>
</html>
